[2017-08-18 05:55] Wasiq08 opened #3 "disabled dates not updating on view when we add through button click"
I have used `vue-hotel-date-picker` its working fine. the issue is when using `disabled dates` props its disabled the dates first time when initializing and update on calendar.but when i update disabled dates array on any button click event it updates the disabled dates array but not reflect or render in view component. I have debug it through vuejs chrome extension.Here is an attached image link

[2017-08-18 10:10] krystalcampioni commented on #3
@Wasiq08 thanks for using the datepicker! Currently, the props are used to create the datepicker component on mount, but not to update the datepicker on-the-fly. I suggest you re-mount the component whenever you need to update props. It's on the roadmap to improve several things on the datepicker, and a better way to handle props is certainly one of the top priorities. If you'd like to contribute,

[2017-09-01 03:04] jericopulvera opened #6 "Can I use a moment timezone in this component?"
Does this support moment timezone? so It doesn't rely on computers time.

[2017-09-01 08:18] krystalcampioni commented on #6
This component was written with Fecha, not moment: https://github.com/taylorhakes/fecha
Fecha also support timezones.

[2017-09-01 12:50] #6 closed

[2017-09-12 11:45] aaronjpitts opened #7 "Feature request: Allow selection of a single date"
Can we use this without the need for an end date? So we can just pick single dates?

Many thanks

[2017-09-13 08:02] krystalcampioni commented on #7
Hey @aaronjpitts not yet, but it's on the roadmap :)

[2017-09-20 19:48] nkoterba opened #8 "FEATURE: Ability to check-in/check-out on the same day"
Unless I'm missing some configuration of the props, I don't see any way to enable users to check-in and check-out on the same day (I know it's a slightly odd edge case but we of course need this feature).

Any plan to support this?

[2017-09-20 20:15] nkoterba opened #9 "Feature request: Allow user to pass HTML to the tooltips"
See graphics below.  Wrapping works fine on the right-side, but on the left, longer tooltips get clipped.

Clipped left-side tooltip:
![image](https://user-images.githubusercontent.com/2508944/30665340-b1f197e2-9e1e-11e7-9044-661d495d89fb.png)

Correctly wrapped right-side tooltip:
![image](https://user-images.githubusercontent.com/2508944/30665348-b8e8025c-9e1e-11e7-8c73-1d95b028b256.png)

Also,

[2017-10-04 07:57] krystalcampioni commented on #8
It's indeed an odd edge case 🤔 There are some checks on the code to prevent the user from selecting the same day for checkin and checkout. I'm currently working on v2 that will be a major rewrite of this component. I'll add this feature in the roadmap

[2017-10-04 12:30] nkoterba commented on #8
Yes, we're using the component to pull up historical data and we'd like the ability to just pull a day's worth of data.  We've worked around it by setting the max date to be tomorrow and telling users if they want to select a single day they select the day they want and then the "next" day.

It's certainly not the best UX solution, but it works without having to fork your code or do other hacky th

[2017-10-08 07:54] Maxximus007 opened #11 "Feature request: specialDates"
Hi, just started working with your hotel-datepicker (and Vue for that matter). Love the looks and the options already in it.

Was wondering if you have plans for a function like enableCheckin, similar as enableCheckout but for start date. I can manipulate the disabled dates to do this, but it's nicer to do it in the picker itself.
Using enableCheckin and enableCheckout together will give an issue

[2017-10-10 15:31] krystalcampioni commented on #8
@nkoterba I'll release v2.0.0 soon, and you'll be able to set the minNights to 0 if you want to allow checkIn and checkOut on the same day.

[2017-10-10 15:31] #8 closed

[2017-10-12 01:04] hrabryi opened #15 "Lost picked data when press backspace."
When picked some data and outfocus from element and press backspace(delete) button, the picked data are reset. Can you fix this issue?
I find this code in hotel-datepicker.js:
[code]

Can you remove it? It a really the big problem, because if you have other fields to input some data and make mistake, then press delete and ooops! you lost you piked data.

[2017-10-12 10:41] krystalcampioni commented on #15
It was solved by v2.0.0

[2017-10-12 10:41] #15 closed

[2017-10-12 10:42] krystalcampioni commented on #3
Closing due to inactivity

[2017-10-12 10:42] #3 closed

[2017-10-12 10:43] krystalcampioni commented on #9
It's indeed a nice idea to be able to pass html to the tooltip
I'll put in the roadmap. Feel free to submit a PR with this change if you want to contribute :)

[2017-10-12 10:49] krystalcampioni commented on #11
@Maxximus007 I'm not sure if I understood your suggestion regarding enableCheckin :/

About the tentativeDates, how exactly would date work? Just a different CSS class for those dates, but they would not be disabled?

[2017-10-12 20:25] Maxximus007 commented on #11
@krystalcampioni you've finished the new version, great! Thanks for your effort!

After rethinking it can be solved without the enableCheckin. I'm using dateTime in the backend, for instance a booking 15-11-2017 14:00 until 18-11-2017 10:00 blocks 18-11-2017 as well.
For my situation I'll just modify the disabled dates -1 day to archieve the same.

For tentativeDays, indeed it can just be a differ

[2017-10-13 05:45] krystalcampioni commented on #11
Cool. I think we can solve this by allowing the user to pass an array of specialDates  and maybe a specialDatesClass so the user can also pass the name of the CSS class to be applied in the specialDates :)

[2017-10-13 14:58] Rias500 opened #16 "Picker breaks when selecting a date and switching months"
The date picker breaks when trying to select a check-in date, then going to the next month and trying to select a new date, all days become disabled. Same for when you return back to the month

Select a date:
![image](https://user-images.githubusercontent.com/3626559/31552370-93a8cfaa-b037-11e7-83f8-3dd791dbb852.png)

Click on the arrow for the next month:
![image](https://user-images.githubuserco

[2017-10-13 15:13] Rias500 opened #17 "Months are not localized"
The months are not being localised.

[2017-10-13 15:34] Rias500 commented on #16
This is solved somehow by setting "enableCheckout" to "true" though I don't know why this would be, the dates should not be disabled.

[2017-10-14 07:08] #17 closed

[2017-10-14 07:40] krystalcampioni commented on #16
Fixed by https://github.com/krystalcampioni/vue-hotel-datepicker/pull/19

[2017-10-14 07:40] #16 closed

[2017-10-14 22:22] xoco70 opened #20 "Can't render plugin"
Hi,

I'm a bit new to Front end dev. I tried to use you plugin in my project, but it doesn't render, and in debugger, vue is not detecting it.

I installed it with npm with no problem.

Then, in my boostrap.js ( this is where I declare all global components ) , I do :

[code]

and then in my HTML, I insert

                        <DatePicker DatePickerID="01"/>

I also ran `npm run dev` to run we

[2017-10-14 22:30] lucasjahn commented on #20
hey @xoco70

these lines
[code]

are actually this:
[code]

so if you want to use this component then you have to name it like defined in your components objects:
[code]

[2017-10-14 22:33] xoco70 commented on #20
Sorry for that. I actually changed it in code, because it was not rendering. Now, I reverted it to  < HotelDatePicker /> but it stills doesn't render. No error, nothing, just doesn't show.

[2017-10-14 22:38] lucasjahn commented on #20
Maybe you could delete your node modules directory, reinstalling everything, run your build again and check it again?

you should also check that your import line is as follows:
`import HotelDatePicker from 'vue-hotel-datepicker'`

[2017-10-14 22:40] lucasjahn commented on #20
Basically you just have to follow the installation instructions here: https://github.com/krystalcampioni/vue-hotel-datepicker#installation this should work right away ;)

[2017-10-14 22:41] xoco70 commented on #20
Basically, I checked the import is OK, I will do it like you said.

And also. I followed the docs, but I guess there is something I am not doing well.

[2017-10-14 22:43] lucasjahn commented on #20
If you still have problems maybe you just could post your content of the bootstrap.js, maybe there is something still not in the correct way :) Open to help

[2017-10-14 22:45] xoco70 commented on #20
I will try to install it on a fresh copy of Laravel, so it is easier. ( I'm better in backend :)

[2017-10-14 22:49] xoco70 commented on #20
oo, don't I need a root selector? like <div id="app> ???

[2017-10-14 22:52] lucasjahn commented on #20
Yes, of course, :D So you need a instantiated vue environment:

[code]

so you defenitely need a vue instance

[2017-10-14 23:00] xoco70 commented on #20
Ok! I could make it work in a fresh laravel! I think it makes sense now! Thanks for helping! For the record, I will use your plugin for my tournament app: https://kendozone.com

Good night from Paris!

[2017-10-14 23:00] #20 closed

[2017-10-15 22:23] xoco70 opened #21 "Is it posible to use it for a event the same day"
Hi,

I would like to use very much you plugin, because I think it is very nice.

My use case is for tournaments, and it can happen that the event is 1 or more day.

Is it possible to select the same date for the check-in and the check-out??

[2017-10-15 22:26] lucasjahn commented on #21
Hey there,

this is totally possible, you just have to set minNights to 0, then it should work like you want.
greetz ;)

[2017-10-15 22:32] xoco70 commented on #21
mmm. It is not working.

Can you please confirm this is what I need?

[code]
When I do that, after first date selection, dates are selected till March 8th.

I aslo tried `minNights=0` with no commas, but still not working

[2017-10-15 22:35] xoco70 commented on #21
I get :

`[Vue warn]: Invalid prop: type check failed for prop "minNights". Expected Number, got String.` even if I put it with no commas

[2017-10-15 22:41] xoco70 commented on #21
Ok, I have no more error with :
[code]

and with

[code]

But I still can't select the same day for the end. I get a forbidden cursor on hover

[2017-10-15 22:54] lucasjahn commented on #21
Hmm interesting, I can't check it now but it should be in place as of this fixed pull request #14. Maybe you have to redownload and update your package.json with the newest version if this module. Maybe you just have an older version without this fix in it.

[2017-10-15 23:00] xoco70 commented on #21
I deleted it, and installed it again, but it didn't work.

It seems it downloads: "vue-hotel-datepicker@2.0.6",

it is the good version?

[2017-10-16 07:57] krystalcampioni commented on #21
@xoco70 if you want to pass a value as a number (or an array, object, ect)  instead of a string to a component via prop in Vue, you have to use `v-bind:` or `:`. This means you can use `:minNights="0"` and don't necessarily have to save this zero in a data property. These options allow the following behavior:
1. Click on date to select the check-in
2. Click on the same date again to select the che

[2017-10-16 17:14] Gadurp1 opened #22 "Cannot use back button for past months"
I have my startDate set to the beginning of the year.  I am unable to hit the back button in the calendar popup so and am locked on current month.

[2017-10-17 11:47] nkoterba commented on #9
@krystalcampioni I'm swamped with work and a few deadlines but I would like to contribute.  I'll try to find some time in the next few weeks to explore this feature.

[2017-10-17 12:25] #22 closed

[2017-10-17 12:29] krystalcampioni commented on #22
@Gadurp1 v2.0.7 is now using the startDate to mount the datepicker.

A nice functionality to put in the roadmap -  that relates to this - is allowing the user to select the default date for when we open the datepicker ( maybe the current month? ) Feel free to submit a PR if you would like to contribute.

[2017-10-20 08:41] hasankemaldemirci opened #25 "how to open/close from parent component."
I want to open/close this from parent component.

I have tried this but it doesn't work
[code]

Is there anyway to do it?

[2017-10-23 17:51] jeffreybrayne commented on #21
I am having the same issue. I've set `:minNights="0"` and am still unable to select the same day for end date.

[2017-10-24 09:23] #21 closed

[2017-10-24 09:25] krystalcampioni commented on #21
@jeffreybrayne @xoco70 I found out that the previous versions only allowed you to choose the same day for check-in and check-out not only if the the `minNights` was set to `0` but also if the `enableCheckout` was `true`. Just fixed that on v2.0.9, please update the version on your project.

[2017-10-24 09:50] Maxximus007 opened #29 "disabledDates not disabled when used with disabledDaysOfWeek"
Hi,

Perhaps an edge case, but I have the following datepicker:
`          <date-picker
            DatePickerID="calendar"
            :format="'DD-MM-YYYY'"
            :disabledDaysOfWeek="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sunday']"
            :disabledDates="['2017-11-11', '2017-11-12', '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16', '2017-11-17', '2017-11-18',

[2017-10-24 10:07] Maxximus007 commented on #29
FYI: In version 1.x it worked as expected.

[2017-10-24 14:27] jeffreybrayne opened #30 "Check out date can be earlier than check in date"
Clicking around on the calendars, I can get the end date to be earlier than the start date. Is there validation to prevent this?

[2017-10-24 15:21] Maxximus007 commented on #30
Did you test with the current version? On the example page all dates before the start date do become unavailable.

[2017-10-24 16:40] jeffreybrayne commented on #30
Yes, I've tested with the most recent. If you choose a date range, then click on the end date again and then select a previous date, it will capture it and send you back in time.

[2017-10-25 12:54] krystalcampioni commented on #30
@jeffreybrayne could your please show us your code, and the steps to reproduce this issue?

[2017-10-25 12:59] krystalcampioni commented on #29
@Maxximus007 v.2 was a full rewrite of v1. We removed lots of features and introduced others. The way that the enableCheckout works also changed on v2 to make it easier to understand and maintain. I'll take a look at it to see what's not working correctly. If you manage to understand what the problem is, meanwhile, and would like to contribute, feel free to submit a pull request :)

[2017-10-25 16:36] jeffreybrayne commented on #30
Sure. Here's my markup:
<hotel-date-picker
            id="travelDates"
            name="travelDates"
            format="MM-DD-YYYY"
            :startDate="setMin()"
            endDate="2018-05-31"
            :minNights="0"
            @checkInChanged="setDepartureDateValue"
            @checkOutChanged="setReturnDateValue"
           />

I was just fooling around with it and discovered it wo

[2017-10-27 06:31] charharhar opened #31 "minNight restriction bug when reselecting dates"
The exact issue can be found at your demo: https://krystalcampioni.github.io/vue-hotel-datepicker#minNights

There seems to be a bug that prevents me from reselecting dates that are within the minNight restriction. For example: I will choose two arbitrary dates as the checkIn and checkOut: 11-1-2017 as checkIn and 11-30-2017 as checkOut. When I want to reselect my checkIn and checkOut nights, I ca

[2017-10-27 15:26] kjad commented on #9
I think I have a solution for this. Will put in a MR shortly

[2017-10-30 19:38] leemora commented on #30
How about a :selectForward prop to toggle this ability like in the last version?

[2017-11-01 10:43] niusmake opened #35 "How can get value?"
Excuse me,

I read this document, But I can not find how to get the value of the method..

Please tell me what should I do,Thanks.

[2017-11-01 13:16] #9 closed

[2017-11-01 13:35] krystalcampioni commented on #35
@niusmake I'm not sure I understood your doubt 🤔 You have two regular text input fields in the component, when the user selects the dates, the value of the inputs are updated to match the selected dates. Also, you can have the events `checkInChanged` and `checkOutChanged` that are emitted with the new dates as payload.

[2017-11-01 13:54] #30 closed

[2017-11-01 13:58] krystalcampioni commented on #30
@leemora  When we rewrote the component for version 2, we decided to remove the selectForward option as it added complexity to maintain the component and didn't seem good enough in terms of UX to be worth to keep it.

@jeffreybrayne please update your project to use v 2.0.11 to solve this issue.

[2017-11-01 14:29] krystalcampioni commented on #31
Thanks for the feedback @charharhar 😬

This is an intended behaviour as we don't want the `minNights` to influence in other types of restrictions such as `disabledDaysOfWeek`. The user can always clear the previous selection to choose a new range.  If you find a way.

If you have a suggestion as how to make it work well with the other props, feel free to submit a PR.

[2017-11-01 14:29] #31 closed

[2017-11-01 14:42] niusmake commented on #35
Sorry,i'm so sorry i didn't make myself clear.
If my selects the dates , I want to get dates value.
like this:
`<template>
       <HotelDatePicker
         :value="date"
         @checkInChanged="checkin"

       </HotelDatePicker>
</template>

<script>
  import HotelDatePicker from 'vue-hotel-datepicker'
  export default {
    components: {
        HotelDatePicker,
    },
    data () {
      retu

[2017-11-01 15:03] krystalcampioni commented on #35
You have to use `$event` to access the payload this way:

[code]

[code]

or, you can access the event via $refs.

[code]

Hope it helps 😄

[2017-11-01 15:03] #35 closed

[2017-11-02 16:44] DevDom05 opened #37 "First day of the week"
How can i specify "monday" as the first day of the week ?

Regards

[2017-11-06 17:20] DevDom05 commented on #37
I ask before in case the option exists.
Thank you. Great work :)

I will submit a contribution when i have some time ;)

[2017-11-08 09:44] pawmanaloto opened #38 "Set Default Value"
Hello Krystal,

I hope we can set a default value for the dates. The example on this repo isn't working,
`<HotelDatePicker :value="'2020-07-14 ► 2020-07-20'"/>`

I hope you can add something like this
`<HotelDatePicker :startingDateValue="'2020-07-14'" :endingDateValue="'2020-07-20'"/>`

Cheers

[2017-11-11 22:25] AlexVanderbist opened #40 "disabledDates combined with minNights breaks picker"
### Description

When using `disabledDates` in combination with `minNights` selecting a date right before a disabled date gets you stuck as minNights would force checkout on/after a disabled date.

Clicking the clear button fixes this but usability-wise it would be nice to get some feedback as to what's going wrong. Maybe indicate the minimum amount of nights grayed out on the disabled dates?

Ano

[2017-11-14 09:20] key60529 commented on #38
I spent an hour to figure out how to set the default value, and found nothing till I saw this opened issue, hope we can merge this and make it work :)

[2017-11-30 18:14] mits87 opened #43 "To lower z-index"
### Description

When the calendar is open then we can see all elements underneath which has z-index > 2

### Steps to Reproduce

just add input element with z-index: 10 below calendar.
https://www.dropbox.com/s/u93lcusqy8lddj3/Screenshot%202017-11-30%2019.13.42.png?dl=0

**Expected behavior:**
[code]

**Actual behavior:**
[code]
### Datepicker Version
2.0.11

[2017-12-17 19:06] Arwany opened #45 "Can't get the component to load, asked: "did you register the component correctly""
### Description

I am trying to use this component, but I am getting this error:

[code]

But of course I imported it and added it already to my vue instance.

### Code sample

After installing it via `npm` I added it to the header of my javascript file:

[code]

Then added this tag:

[code]

But it didn't work, it keeps showing me the error above!

**Expected behavior:** To see the component

**A

[2017-12-18 15:51] Arwany commented on #45
I tried the following and it did work, but I find it quite confusing for the first time:
I renamed the component, only after that I could use it:

[code]

Any explanation why?

Thanks!

[2017-12-20 19:36] Arwany opened #46 "Can't get the value, event handlers is not working!"
### Description

I am unable to access the check-in and check-out dates and I am getting these warnings when I do select a check-in and check-out dates:

[code]
### Code sample

As I mentioned in  the bug #45 I only could get this working by renaming the import:

[code]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

[2017-12-29 03:39] Sanbingo opened #47 "Can I enable all date befeore startDate"
### Description

Before startDate is disable, I cannot select it, how can I select date that i want？

![image](https://user-images.githubusercontent.com/5332100/34428947-ec33dc00-ec8c-11e7-8893-7878ecc90551.png)

[2018-01-05 09:16] justGoNeverStop opened #49 "affect global style"
`*, :after, :before{
  -webkit-box-sizing:border-box;
  box-sizing: border-box
}`
this code will affect global style @krystalcampioni

[2018-01-08 06:09] charharhar opened #50 "Unwanted behavior: clear button submitting parent form"
I am using the Hotel Datepicker component inside of a form element along with other inputs. Example:
[code]

Upon clicking on the clear button (button.datepicker__clear-button), it submits my entire form and causes a page refresh. I've tried the following but was unsuccessful.
[code]

It only works when I inspect the element from my chrome devtools and added type="button" to the element.
[code]

A

[2018-01-08 12:17] krystalcampioni commented on #50
Fixed by #41

[2018-01-08 12:17] #50 closed

[2018-01-08 12:21] krystalcampioni commented on #47
All dates before the startDate will be disabled. If you need to be able to select a date before the one you currently have you should use update the startDate to an older date.

[2018-01-08 12:21] #47 closed

[2018-01-08 18:34] rolandszpond opened #51 "Having trouble with nuxtjs"
I'm having trouble getting this to work with Nuxtjs generated sites...
the error that I'm getting is "document is not defined" due to server side rendering. I've tried everything that nuxt community suggests to get the code to pull only on the client side, but I have no luck...

i.e.
nuxt.config.js
[code]

or in a vue component:
[code]

[2018-01-08 19:03] rolandszpond commented on #51
I just discovered the <no-ssr> tag buried deep into one of their examples on their github: https://github.com/nuxt/nuxt.js/blob/dev/examples/no-ssr/pages/index.vue, which seems to let it work after generating and publishing pages to hosting. But, I don't think this is a "real" solution, I think making this plugin available for srr for using with nuxt should be implemented. I will create a PR once

[2018-01-09 17:46] anykarolyne opened #52 "How to change color of input:active?"
I want to change the color of the class .datepicker__dummy-input--is-active but i can't.

My vue component:
[code]
My style:
[code]
When I change a color at class datepicker-label is working perfectly, but when is input:active not working. The strange is when I inspect the elements the modification appears, but the screen continues the default color(#00ca9d).
![foto 1](https://user-images.githubus

[2018-01-16 16:27] seifsay3d commented on #52
you can use !important, or write a more specific query selector.

[2018-01-16 18:20] clodoveo opened #53 "dinamically change startDate"
Once component is mounted i cannot dinamically change startDate ( for example calling an api which returns hotel opening date )

[2018-01-17 10:04] clodoveo commented on #53
well, not sure the best way , but resolved calling the api on beforeMount and using a v-if wich destroy and recreate the component.

[2018-01-23 14:11] sansil opened #55 "highlight Current Date"
I want to highlight the current date when the user click on "CheckIn". I think that it's important give the user a reference in the select preview.

Thanks in advance!

[2018-01-25 18:19] anykarolyne commented on #52
I used ::placeholder and working, like that:

`.datepicker__dummy-input--is-active::-moz-placeholder{color: #4182e0 !important;opacity: 1 !important;}
.datepicker__dummy-input--is-active::-webkit-input-placeholder{color: #4182e0 !important;opacity: 1 !important;}
.datepicker__dummy-input--is-active:-ms-input-placeholder{color: #4182e0 !important;opacity: 1 !important;}
.datepicker__dummy-input--is

[2018-01-25 18:19] #52 closed

[2018-01-27 14:59] #7 closed

[2018-01-27 15:02] krystalcampioni commented on #38
Merged and released a new version to NPM

https://github.com/krystalcampioni/vue-hotel-datepicker/pull/39

[2018-01-27 15:02] #38 closed

[2018-01-27 15:12] feliperaul opened #57 "iOS scrolling background of page instead of calendar; input focus problems;"
### Description

On iPhone X, iOS 11.2, Safari, if I open the demo page, the following problems occur:

- When I click on any example (can be the first one), I see the calendar fullscreen; when I try to scroll upwards to see the next months (only january and february are within the viewport), I see the back of the page scolling instead, and only after trying 5 or 10 times I can manage to scroll (j

[2018-02-08 09:37] mike-db88 opened #58 "Feature request: set first day of week"
It would be usefull to make prop setting that would allow to choose first day of week.
In some countries first day of week is usually monday, not sunday.

[2018-02-08 09:41] mike-db88 commented on #57
Can confirm. I tinkered with script a bit and it seems it just doesnt add overflow-hidden class to body on safari.

[2018-02-08 13:48] shrpne opened #59 "lodash bloat bundle size"
Full lodash library (~70kb minified) imported for just one `_.filter()` function.
I suggest using lodash-es and import filter directly

[2018-02-13 07:12] ajayenuke commented on #58
By when it will be added? Any idea

[2018-02-13 07:36] ajayenuke opened #60 "I am facing problem in Date format 'DD.MM.YYYY' is not acceptable as well as start day of week should be monday not sunday."
### Description

[Description of the bug or feature]

### Code sample
[ If you are submitting a bug issue, paste your code so I can reproduce it, or a link to a Codepen with it ]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

### Datepicker Version

[ The version of th

[2018-02-14 12:49] mike-db88 commented on #58
By the way @ajayenuke, if you need this just modify getFIrstDay inside helpers.js to this:

`  getFirstSunday(date) {
    var firstDay =  this.getFirstDayOfMonth(date);
    return new Date(
      firstDay.setDate(
        firstDay.getDate()
        -firstDay.getDay() + 1
      )
    );
  },`

[2018-02-15 14:42] mhimi1 opened #61 "Close button does not have a prop and best to only show after input"
### Description

It would be good to have a showCloseButton prop. Also, the close button should only show up after date(s) are selected instead of by default.

### Code sample
[ If you are submitting a bug issue, paste your code so I can reproduce it, or a link to a Codepen with it ]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expec

[2018-02-21 13:55] octaviangrozman opened #62 "Checkin and checkout dates are not updated when value change"
### Description

I am calling an api in beforeMount hook, that returns some initial dates from localStorage, and when I get
the dates, I pass them down to the HotelDatePicker as startingDateValue and endingDateValue, in order to render them.
It seems that HotelDatePicker gets these dates, but it does render them, does not update for some reason. chekin and checkout are null in component's data.

!

[2018-02-23 22:55] chrisrenga commented on #57
same here. It looks like the readonly option does not work on mobile safari.
I noticed that Airbnb gets around it by not using inputs. Instead they have a button to open the picker. There is also a zoom effect in IOS If the input font size is smaller then 16px https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone#answer-16255670

cant event get the other

[2018-03-12 07:04] pawmanaloto commented on #62
Hello,
Can you try to parse in the dates in new date object.
`:startingDateValue="new Date(checkInDate)"
:endingDateValue="new Date(checkOutDate)"`

[2018-03-12 07:08] pawmanaloto commented on #53
Try to use the property startingDateValue
`startingDateValue='new Date(initDateValue)'`

[2018-03-21 10:24] grzegorz-s opened #65 "Can't find solution to some problems"
Hi, just a quick question about some option. I couldn't find any info in docs or issues.
Is there any option to change default placeholder (check-in, check-out) for specific date?

### Datepicker Version

2.2.0

[2018-03-21 15:15] octaviangrozman commented on #62
@pawmanaloto  Tried that, it shows now this date '1970-01-01', I guess because it is null initially, due to the fact that async call takes some time to fetch initial dates, but afterwards it does not seem to update with new values :(

[2018-03-22 15:35] #65 closed

[2018-04-06 14:39] krystalcampioni opened #67 "Maintainers Wanted"
Unfortunately, I haven't had much free time to maintain this project 😢
If you find this package useful and would like to help maintain it or collaborate, let me know in this issue 🖖🏽

[2018-04-19 07:38] hoangnguyen291 opened #69 "Cannot select next checkout date when it is disabled"
### Description

ex: If tomorrow is booked by someone else, I can't select checkin date on today and checkout on tomorrow. In fact, tomorrow should be enabled if I selected checkin today.

### Code sample

### Steps to Reproduce

1. Disable 2018-04-25
2. Select checkin 2018-04-24
3. 2018-04-25 should be enabled for checkout.

### Datepicker Version

[2018-04-21 03:53] hoangnguyen291 commented on #69
Currently I have fixed this problem by modify Day.vue disableNextDays()

`  disableNextDays(){
      if ( !this.isDateLessOrEquals(this.date, this.nextDisabledDate)
            && this.nextDisabledDate !== Infinity) {
              this.isDisabled = true;
      }
      else if ( this.isDateLessOrEquals(this.date, this.checkIn) ) {
        this.isDisabled = true;
      }
      if ( this.compareDay(

[2018-04-22 10:29] DobreanMarian opened #70 "change date to all component"
### Description

How I can change date to all component when is modified in one component?

[2018-04-26 02:42] thanhprodev opened #71 "Does it support on the web?"
I need an picker for web?

[2018-04-26 07:26] sofianester commented on #71
Hi ,
On desktop, How to handle (open-top/open-bottom) depending on the input position ?

[2018-04-26 07:37] sofianester opened #72 "open positioning top/bottom"
Hi need help!
On desktop, How to handle (open-to-top/open-to-bottom) depending on the input position ?
If the input is in the bottom of the screen. the datepicker should open to top.

![untitled-1](https://user-images.githubusercontent.com/4677073/39292090-4ec2f0ac-495f-11e8-8cdf-d8a980067f38.jpg)

[2018-05-10 07:17] chientinhte commented on #25
I solved this:
let datepicker = $('.datepicker');
datepicker.removeClass('datepicker--closed');
datepicker.addClass('datepicker--open');

[2018-05-18 11:37] patie commented on #52
please use external css, so we can easy customize style without !important, thank you

[2018-05-24 12:29] MUCHZER commented on #71
If your question is "Does it work in a desktop web browser?" the answer is "Yes!"

[2018-06-02 20:40] lmsmartins opened #74 "Allow change the start date when selecting a previous date"
### Description

Instead of blocking the dates before the selected start date, could we please allow user to simply change the start date when selecting a date before the current start date? I think it would be a bit more user friendly, since if user gets the start date wrong, the user has to select an end date first before changing the start date. I would like to help you on doing this, do you th

[2018-06-03 17:18] SnitramDev opened #75 "Missing i18n when using Fecha library to format dates (checkin and checkout inputs)"
### Description
Missing i18n when using Fecha library to format dates (see image attached).
Could
<img width="782" alt="screen shot 2018-06-03 at 17 14 42" src="https://user-images.githubusercontent.com/8367143/40889183-0b2cb600-6752-11e8-8859-6eea215fc50f.png">
 I please submit a PR? I have a fix for this.

[Description of the bug or feature]
Date formats within the inputs (checkin and checkout)

[2018-06-11 17:41] krystalcampioni commented on #75
Will be released with the next version :)

[2018-06-11 17:41] #75 closed

[2018-06-11 17:42] #59 closed

[2018-06-11 18:26] #57 closed

[2018-06-15 20:34] claudioromano13 opened #77 "Reset date button."
### Description

I would like to clear fields by clicking a button. How to do this ?

### Code sample
[](url)

### Datepicker Version

vue-hotel-datepicker:  2.2.1
![page](https://user-images.githubusercontent.com/7386266/41488272-2612fae6-70c2-11e8-81d0-5070cda668b9.png)

[2018-06-19 18:06] SnitramDev opened #78 "Months and days overlapping due to "em" units"
### Description
Using "px" instead of "em" will fix the months and days overlapping in the 852 x 621 resolution when setting the "body" font-size to 18px. I understand the usage of "em", but I think we would be safer just using px for the media queries.

Please see the bug below:
<img width="702" alt="screen shot 2018-06-19 at 18 03 51" src="https://user-images.githubusercontent.com/8367143/416156

[2018-06-19 23:18] #78 closed

[2018-07-07 10:31] webartistse opened #80 "Suggestion: Change first day of week"
Would like an option to change to Monday as the first day of week.

[2018-07-07 10:32] webartistse opened #81 "Suggestion: Show week number"
Would like option to show the number of the week to the left in the calendar. Very common that you relate to the week number in parts of Europe.

[2018-07-08 15:45] nsimeonov opened #82 "Bind-Model"
Probably obvious to anyone with more experience than me, but can you include in the examples how to bind to a model or how to get the selected date range in order to perform an API call?

[2018-07-26 09:44] octaviangrozman opened #85 "You cannot pick starting and ending current dates as a checkin date"
### Description
You cannot pick starting and ending current dates as a checkin date

### Code sample

### Steps to Reproduce

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

### Datepicker Version
2.2.4

[2018-07-26 09:51] octaviangrozman opened #86 "You can pick disabled date as checkin date"
### Description
You can pick disabled date as checkin date

![image](https://user-images.githubusercontent.com/33148154/43255451-23fff1e6-90ca-11e8-90ea-05ce715fd4c7.png)

### Code sample

### Steps to Reproduce

### Datepicker Version
2.2.4

[2018-08-01 01:46] laienliang commented on #85
have the same question

[2018-08-03 15:51] antony commented on #51
Yep, just ran into the same issue. The plugin is awesome, but it really needs SSR support. Did you ever get around to a PR?

[2018-08-03 16:20] antony opened #87 "Building the project to add functionality"
### Description

I'm trying to work on this project, to attempt to add SSR support. However, I can't seem to get the basics working.

### Code sample

I've checked out the module, and done an `npm link` on it.
I made my changes.
I've run npm run build to get the latest version into /dist

But now I get this error:

[code]
### Datepicker Version

github/master

[2018-08-06 08:24] chrisrenga commented on #82
you can listen to the change events

Eg.
[code]
and handle the update by performing an action or simply by adding the value to your data

[code]

[2018-08-06 09:53] reymark-torres opened #88 "Invalid prop: type check failed for prop "startingDateValue". Expected Date, got String"
How to properly format my date string to cater the proper date type of "startingDateValue" & "endingDateValue"?

I'm really having a hard time fixing this.

Response is much appreciated.

[2018-08-06 14:05] Arwany commented on #45
The issue was resolved long time ago. Thanks for the answer anyway.

[2018-08-06 14:05] #45 closed

[2018-08-07 07:31] reymark-torres commented on #88
I solved the problem by using JavaScript date function passed into the "startingDateValue" & "endingDateValue":

`new Date(parseInt(year), parseInt(month), parseInt(day))`

Just sharing to inform people that will encounter the same problem.

[2018-08-07 07:31] #88 closed

[2018-08-08 13:00] rolandszpond commented on #51
@antony try wrapping the component with <no-ssr> tags in your html

[2018-08-08 21:05] antony commented on #51
@rolandszpond that's not a solution to SSR, that's just circumventing it.

[2018-08-08 22:44] rolandszpond commented on #51
@antony I have not, unfortunately. The project that I was gonna apply it to switched directions in how we were gonna use a datepicker and we are using a different component for that.

[2018-08-13 08:42] mirill1 opened #89 "npm release 2.2.6 not found"
I want to install the release 2.2.6 with npm but the latest version number is 2.2.4.
Can you please update the npm repo to version 2.2.6?

Thank you.
Best regards.

[2018-08-13 13:08] zangab opened #90 "question: disable dates until date xy"
### Description
I wan to disable all the dates that are e.g. before `today` - some other date pickers refer to this as `min-date` (minimum-date). The user shouldn't be able to select any date before that. In the docs there is a section called `disabledDates` but that just takes date strings as an array or can I pass in a function here?

[2018-08-16 13:49] laienliang commented on #85
?

[2018-08-24 20:46] gareth-ib opened #91 "Allow calendar to be used without a startDate"
### Description

The docs on how to use endDate are using the startDate field, so there is no docs to go by.
My goal is to set anything after todays date as disabled, everything before and including today to be enabled.

### Code sample
this sets anything before todays date as disabled...
[code]
This sets everything before the startDate as disabled; everything after startDate is enabled, including

[2018-08-24 21:39] gareth-ib opened #92 "Externally call to change selected dates"
How can we set the current date of the widget after the widget is built on the page?

[2018-09-27 09:17] amulchinock commented on #67
Happy to help!

[2018-09-27 20:09] amulchinock commented on #60
@ajayenuke - with regard to date format, are you talking about the date displayed by the UI, or the dates returned by the datepicker?

If you're talking about the UI (as in, what the user sees) - you can specify the format with the `format` prop.

For specifying the starting day of a week - you can use the `firstDayOfWeek` prop.

See [firstDayOfWeek](https://github.com/krystalcampioni/vue-hotel-da

[2018-09-27 20:14] amulchinock commented on #92
@gareth-ib Do you mean you want to change the selected dates (checkin / checkout) programmatically?

[2018-09-27 20:41] gareth-ib commented on #92
yes, but I switched to another system so I could do it

[2018-09-27 20:51] amulchinock commented on #92
OK. I can suggest to @krystalcampioni that this issue be tagged as a feature request. We'll update this thread with further developments.

[2018-09-27 20:52] amulchinock commented on #60
@krystalcampioni should we mark this as closed now?

[2018-09-27 20:57] amulchinock commented on #85
@octaviangrozman @laienliang could you both update your comments with some code to show the problem? Based on the way it's worded at the moment, I'm having trouble understanding your question (sorry!) :)

[2018-09-27 21:04] amulchinock commented on #90
Hi @zangab
You can set a "minimim-date" with the `startDate` property. [See the documentation here.](https://github.com/krystalcampioni/vue-hotel-datepicker#startdate)

`disabledDates` would be useful in a scenario where you want to specify arbitrary dates that can not be selected (e.g your 'hotel' has bookings already, and you don't want to allow people to book then, or your 'hotel' is closed on

[2018-09-28 08:33] #60 closed

[2018-09-29 07:52] krystalcampioni commented on #89
Done 👍

[2018-09-29 07:52] #89 closed

[2018-10-02 22:38] amulchinock commented on #90
@krystalcampioni Should we close this issue?

[2018-10-02 23:05] amulchinock commented on #91
@krystalcampioni Based on some experimentation I've just done - it looks like the datepicker assumes we don't want to book dates in the past (as per @gareth-ib use case).

Is this a bug or a feature?

On the one hand, it makes sense that we would assume no one would want to book past dates (you know, booking hotels and all....)

But, on the other, as @gareth-ib describes - we have the `startDate`

[2018-10-03 08:36] #90 closed

[2018-10-05 23:05] krystalcampioni commented on #91
### TLDR ###
With the current implementation, it's not possible to use the calendar without a startDate, as the value is used to generate the months when we navigate on the calendar. You could set a date in the past as the startDate, but this would cause the calendar to open on that date in the past, instead of the current month.
In the example bellow, the calendar would open initially in 01/01/19

[2018-10-05 23:11] krystalcampioni commented on #91
@gareth-ib regarding your last example, the error is caused due to the lack of the v-bind colon at the beginning of the prop name. Without it, it treats the value you're passing as a string. It should be:
`:endDate="new Date(new Date().getFullYear(), 11, 31)"`

[2018-10-05 23:12] krystalcampioni commented on #82
thanks for clarifying that @chrisrenga 🙏

[2018-10-05 23:12] #82 closed

[2018-10-05 23:15] krystalcampioni commented on #80
Included here https://github.com/krystalcampioni/vue-hotel-datepicker/pull/48 👍

[2018-10-05 23:15] #80 closed

[2018-10-05 23:53] krystalcampioni commented on #25
@hasankemaldemirci the default behaviour of closing the datepicker when clicking outside of the component was preventing the datepicker from being opened externally. Should be fixed now at v2.3.0.

To use the open/hide/toggle methods make sure to set the new `closeDatepickerOnClickOutside` prop to `false`

[2018-10-05 23:53] #25 closed

[2018-10-05 23:58] krystalcampioni commented on #53
@clodoveo the calendar is generated on `beforeMount` based on the value defined on the `startDate` so with the current implementation there's no better way of handling this 👍

[2018-10-05 23:58] #53 closed

[2018-10-05 23:59] krystalcampioni commented on #70
@DobreanMarian could you provide an example of your use case? I'm not sure I understand your problem 😬

[2018-10-05 23:59] #71 closed

[2018-10-06 00:05] krystalcampioni commented on #49
True! To fix this, I've nested these under `datepicker__wrapper` class at v2.3.2

[2018-10-06 00:05] #49 closed

[2018-10-06 00:08] krystalcampioni commented on #58
Included here: https://github.com/krystalcampioni/vue-hotel-datepicker/pull/48 👍

[2018-10-06 00:08] #58 closed

[2018-10-06 08:44] krystalcampioni commented on #61
The close button is only displayed on the mobile version of the datepicker and while the calendar is open. Maybe you're referring the clear button ( the x on the right side of the input)?
That functionality could be improved for sure 👍
Version 2.4.0 includes a new `displayClearButton` prop, and the x is only displayed if there are dates set. https://github.com/krystalcampioni/vue-hotel-datepicker/

[2018-10-06 08:44] #61 closed

[2018-10-06 09:01] #43 closed

[2018-10-06 09:30] krystalcampioni commented on #55
Implemented in #96

[2018-10-06 09:30] #55 closed

[2018-10-09 21:28] amulchinock commented on #85
@octaviangrozman Any further info you can provide?

[2018-10-09 21:34] amulchinock commented on #69
@hoangnguyen291 Are you suggesting that we allow checkin/checkout on the same date?

For example- your "hotel" has a check out at 10am on 01/01/1970, and another guest wishes to check in at 3pm on 01/01/1970.

At the moment, the datepicker doesn't specify date/times for the threshold of date cutoff. This means, if you block out a date as disabled (due to an existing booking), then there is no way

[2018-10-09 21:36] amulchinock commented on #81
@webartistse Could you elaborate?

Do you mean that the datepicker should show the current week in the year, when selecting dates?
(i.e https://www.epochconverter.com/weeks/2018)

[2018-10-09 21:38] amulchinock commented on #62
@krystalcampioni Feature request?

[2018-10-09 21:42] amulchinock commented on #40
@krystalcampioni This sounds a little like a bug. What are your thoughts?

[2018-10-09 21:43] webartistse commented on #81
@amulchinock Sure! Many apps or components solves this by adding some label or similar on the current row. I attached an example here how Calendar in MacOS shows this. The reason many users needs this is that its common to say/know that you have vacation week 28-31 but you dont know exact dates. At least this is common in Scandinavia and some parts of europe.

![macos calendar](https://user-images

[2018-10-09 21:44] amulchinock commented on #46
@krystalcampioni Was this merged?

[2018-10-10 14:47] Codefa commented on #51
@rolandszpond It works fine for me its kinda a late anwer anyway this answer will help others might looking for the same issue with nuxt

Just import the component like in vue on your page and add the code within` <no-ssr></no-ssr>`
like this
[code]

[2018-10-10 15:18] rolandszpond commented on #51
@Codefa Yes, <no-ssr> works great. As far as the component having to be server side rendered, after some thought with it, I don't think there's a need for a datepicker being server rendered. The benefit for SSR is for search clients being able to crawl your site data and you wouldn't be gaining anything for them to crawl just a datepicker.

[2018-10-10 16:19] Codefa commented on #51
@rolandszpond absolutely, after fetching the date from the picker we can make it as a Server Side Rendered.., my thoughts..

[2018-10-10 19:56] amulchinock commented on #81
@webartistse Ahh - I think I understand.
So, if I said that I was going on holiday from the 9th to the 16th of October 2018 - I could also be more vague and say that I was going from the 41st - 42nd week?

[2018-10-10 21:22] amulchinock commented on #81
@webartistse Interesting! In British English (I'm from England), we'd say something along the lines of "I'm going on holiday around the 25th of October, for two weeks".

In your opinion, what would be the best way of handling this? We could create a property for the datepicker for showing week numbers (something like `:showWeekNumbers="someVariable_or_String"`
Would that work for you?

I'd be inte

[2018-10-11 07:41] krystalcampioni commented on #81
Interesting! I've been to Stockholm recently and a friend was also talking about how week numbers are used there, even for parking signs. I think a boolean prop `showWeekNumbers` would make sense for this 👍

[2018-10-11 07:54] krystalcampioni commented on #40
@AlexVanderbist @amulchinock  I wouldn't label it's a bug, as the original intention was to use the clear button in any situation where you could "get stuck" due to range limitations. This is surely one of those situations:
![bug_vs_feature](https://user-images.githubusercontent.com/4037781/46788613-cca59100-cd3a-11e8-8b34-7ae0ac6bb165.jpg)

😬 Jokes apart, I agree that it's surelly not the best us

[2018-10-11 17:32] webartistse commented on #81
@amulchinock @krystalcampioni That would be awesome!

[2018-10-11 21:54] amulchinock commented on #40
@krystalcampioni Love the image!
I vote to try the suggestions you mentioned first, and re-visit this "non-not-bug" in the very near future.

[2018-10-12 22:19] amulchinock commented on #87
@krystalcampioni Should this be closed now?

[2018-10-12 22:56] amulchinock commented on #11
@krystalcampioni @Maxximus007 I'm taking a look at this issue over this weekend. Just thought I'd let you both know that there's (hopefully) going to be some productive "noise" coming in from me the next day or so.

To tackle this issue - I am working to the following use cases / requirements: (feel free to add/correct if necessary)
- Global setting of a max-checkout time and a min-checkin time, t

[2018-10-14 22:01] amulchinock commented on #11
Quick update - haven't managed to get much done over the weekend. Will update over the coming days, as appropriate.

[2018-10-15 13:05] Maxximus007 commented on #11
@amulchinock Great to see you jumping in. That would allow the datepicker to become even more versatile.
I do have one more request, perhaps you see some possibilities for it as well. Currently, if there is a minNights > 1, and there are 2 bookings that are not consecutive but have less than the minNights available, it is not bookable.

So if there is an availability of 3 nights, but required nigh

[2018-10-15 14:02] amulchinock commented on #11
@Maxximus007 That's an interesting use case.
Essentially - you want to auto-calculate if there is a gap between two bookings and scale the min-nights accordingly?

Might be worth adding that as a separate feature request. :)

[2018-10-15 14:43] Maxximus007 opened #97 "Feature request: Dynamically change minNights"
Currently, if there is a minNights > 1, and there are 2 blocked periods that are not consecutive but have less than the minNights available, that specific available period is not selectable.

So, if there is an availability of 3 nights between two blocked periods, but required nights is 5, I'd like to auto-lower the required nights to 3 for that period - and make it possible to select an end date.

[2018-10-15 14:53] Maxximus007 commented on #11
@amulchinock Yep you're right ;) Done that.

[2018-10-16 16:36] Q-back commented on #47
or you can set startDate to `null`, but you'll end up opening calendar at 1970 :/

[2018-10-17 09:45] krystalcampioni commented on #11
@amulchinock great that you're working on this feature 💪
The plan seems good to me! I was just wondering, do we really need to include the disabled boolean in the special dates? Maybe we could check if the date should be disabled or not based on what we already have from the disabledDates prop. What do you think? 🤔

[2018-10-18 00:00] amulchinock opened #98 "Remove Pug as a dev dependancy"
### Description

Pug is currently used as the framework for rendering Vue markup and HTML within the datepicker. Whilst I understand why this might be incredibly useful for someone who uses Pug on a day-to-day basis, it creates an additional learning curve and layer of complexity to those who would possibly like to contribute to the project.

Vue handles many (some) of the same things Pug does (fo

[2018-10-18 00:01] amulchinock commented on #98
@krystalcampioni Would really like your thoughts :)

[2018-10-19 11:47] krystalcampioni commented on #98
Hey @amulchinock I appreciate pug is not a mandatory dependency in every vue project, but IMHO it greatly improves the legibility of code and it's not that hard to learn. Apart from that, Pug-like syntax has been around for a while, with other templating engines like Haml and Slim before it.

I'm open to removing it from the project if other people have the same opinion as you, though. Let's maybe

[2018-10-19 11:51] krystalcampioni commented on #87
@amulchinock I guess @antony is trying to use npm link in order to use the datepicker in another project that uses SSR, in order to work on it as a separate package in dev mode.
Not sure why it's not working though, I'll try to replicate this error.

[2018-10-19 15:37] antony commented on #87
@krystalcampioni yeah - that's essentially it. I wanted to try out my usecase as I developed the project.

[2018-10-19 17:27] krystalcampioni opened #99 "Improve accessibility"
## Roadmap ##
- [x] Replace the dummy inputs and buttons for actual input and button tags, so the user can interact with the elements using the tab/enter keys
- [ ] Include ARIA attributes
- [ ] Improve keyboard navigation, by allowing the user to navigate between days with the arrow keys

[2018-10-19 17:35] amulchinock commented on #98
@krystalcampioni No problem. I don't hate pug, and **do** understand why you use it - it definitely has it's uses! :) Happy to wait and see what the wider community feels.

[2018-10-19 17:39] amulchinock commented on #87
@antony @krystalcampioni Intriguing. I'm slightly embarrassed to admit that I've not come across SSR before now. Any reading material someone could point me at?

[2018-10-19 17:57] krystalcampioni commented on #87
@amulchinock don't be embarrassed! With the speed new things are created everyday in the tech field ( and specially in the frontend field ) it's hardly impossible to come across everything. If you'd like to learn more about SSR with Vue, a great start is Nuxt.js:
https://nuxtjs.org/

If you'd rather watch a course instead of reading docs, I can surely recommend Sarah Drasner's intro to Vuejs cours

[2018-10-19 23:04] amulchinock commented on #99
I really like this issue. It actually brings to light some interesting challenges with web technology and accessible UX, and is something I'm quite passionate about.

For example - many years ago, I worked as a carer for a major care provider in the UK. I saw clients using computers on a daily basis, many of whom had some form of impairment that required them to use a form of assistive technology.

[2018-10-19 23:06] amulchinock commented on #97
@krystalcampioni Label as a feature request, pretty please? :)

[2018-10-20 17:12] amulchinock commented on #11
@krystalcampioni Yes, actually - that would be a better option. Much simpler than what I had in mind! :+1:

[2018-10-20 20:03] amulchinock commented on #11
@krystalcampioni - I've had a brainwave that may help me sorting this issue - but also create quite a useful way of sorting some of the date/time related issues to.

In my case, looking at this requirement - "Global setting of a max-checkout time and a min-checkin time, to allow for cleaning .etc (i.e most hotels will have a check in time from 16:00, and a check out time no later than 10:00)"

Jav

[2018-10-21 18:13] krystalcampioni commented on #99
Thanks @chrisrenga I'll keep that in mind. We can keep the button approach for the "inputs" as they are not a problem since buttons are focusable 👍

[2018-10-21 21:44] amulchinock commented on #99
@krystalcampioni @chrisrenga I agree with the roadmap approach.

I suppose if we needed to start anywhere, keyboard navigation would be a good place, as it assists accessibility for almost all users - whereas ARIA attributes (for example) would me a much smaller subset of users.

[2018-10-22 08:30] webartistse opened #100 "Incorrect rendering of calendar when navigate fast"
If the user navigate fast and mix up with clicking next/previous the calendar is starting to render months in wrong order or render duplicates. This is quite easy to reproduce in Chrome on Mac and Win.

![screenshot 2018-10-22 at 10 27 38](https://user-images.githubusercontent.com/3966652/47283884-6c89d700-d5e5-11e8-9113-4f5f3069ae18.png)
![screenshot 2018-10-22 at 10 27 54](https://user-images.gi

[2018-10-22 08:33] webartistse opened #101 "Incorrect rendering of calendar when navigate fast"
If the user navigate fast and mix up with clicking next/previous the calendar is starting to render months in wrong order or render duplicates. This is quite easy to reproduce in Chrome on Mac and Win.

![screenshot 2018-10-22 at 10 27 54](https://user-images.githubusercontent.com/3966652/47284012-eb7f0f80-d5e5-11e8-802b-96e6cf0ca1fd.png)
![screenshot 2018-10-22 at 10 27 38](https://user-images.gi

[2018-10-22 11:44] amulchinock commented on #92
@gareth-ib @krystalcampioni Interestingly, I've just come across a use case where I need to do exactly this. 😅

This might well be the next issue I work on after #11

[2018-10-22 13:46] hallowcard13 opened #102 "Selected Day of the month"
Hi is there any chance the i can get rid of the border of the date ? please see attached
<img width="692" alt="screen shot 2018-10-22 at 5 44 39 pm" src="https://user-images.githubusercontent.com/4696933/47296104-5e0de080-d622-11e8-97ca-f1dcd880173e.png">

[2018-10-22 14:05] hallowcard13 opened #103 "Stylize current date"
Hi i just wanted to know if how i can remove the border of the present date. Please see below screenshot
<img width="692" alt="screen shot 2018-10-22 at 5 44 39 pm" src="https://user-images.githubusercontent.com/4696933/47297045-13da2e80-d625-11e8-8472-93ef40a23c59.png">

[2018-10-24 20:13] krystalcampioni commented on #99
@amulchinock I've just finished implementing the basic keyboard navigation on the PR above. The solution is a bit hacky since the `dayClass` computed property grew quite organically to accommodate new features and currently allows for a couple of different types/situations where a date can be disabled by CSS only ( e.g days before the min amount of nights, out of range, etc ) I'm going to work on

[2018-10-24 20:14] krystalcampioni commented on #100
Duplicate of #101

[2018-10-24 20:14] #100 closed

[2018-10-24 20:29] krystalcampioni commented on #101
Fixed via https://github.com/krystalcampioni/vue-hotel-datepicker/pull/105

[2018-10-24 20:29] #101 closed

[2018-10-24 22:05] amulchinock commented on #99
@krystalcampioni I'll come back to you in a few days on the ARIA attributes. Swamped right now! :nerd_face:

[2018-10-25 07:51] krystalcampioni commented on #99
Perfect, no rush! thanks 😬

[2018-10-25 07:58] krystalcampioni commented on #11
@amulchinock agreed, dealing with dates in JS can be a nigthmare! I would prefer if we did not include moment in the project, though. It's quite expensive in terms of performance and prone to bugs :/

Currently we do have [fecha](https://github.com/taylorhakes/fecha) installed in the project to help dealing with dates. The reason why I chose it, is basically it's really performant and lightweigth.

[2018-10-31 21:43] hasankemaldemirci opened #106 "Active Months"
How can I view selected month range in another page ?

[2018-11-05 15:48] thepatres opened #108 ":disabledDaysOfWeek not working as expected"
Hello, did someone noticed that disabledDaysOfWeek is not working?

Using this: :disabledDaysOfWeek="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sunday']"

but my calendar did not disabled any day.

I am using version 2.4.1

[2018-11-06 16:29] budevor opened #109 "data/ prop of total night"
Is there a way to access the total nights as prop or data like the tooltip is showing?

thanks

[2018-11-07 09:37] Haroenv commented on #46
Since this wasn't very clear, make sure to use the kebab-cased version in your template: `@check-out-changed`

[2018-11-07 11:36] #46 closed

[2018-11-08 07:29] #103 closed

[2018-11-12 15:07] #106 closed

[2018-11-26 03:46] tucheng0552 opened #114 "Set up custom content"
### Description

[2018-11-29 15:12] kazemzadeh1983 opened #116 "anyone convert this component to solar calendar(use in middle east contry) ?"
### Description

[Description of the bug or feature]

### Code sample
[ If you are submitting a bug issue, paste your code so I can reproduce it, or a link to a Codepen with it ]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

### Datepicker Version

[ The version of th

[2018-11-30 14:18] geroldboehler opened #117 "Datepicker crashes if starting-date-value and ending-date-value are both in december 2018"
### Description

The title says it all. If both starting-date-value and ending-date-value are in december 2018, the datepicker crashes. But it only seems to happen for 2018, 2017 and 2019 seem to work. Am i missing something?

### Code sample
[code]
### Steps to Reproduce
Run code sample above.

**Expected behavior:**
Starting and ending dates should be set properly

**Actual behavior:**
Datepicke

[2018-12-04 12:32] cihanzengin opened #118 "component not appear on page"
Hello,
here is interesting problem i have,

I'm using vue with webpack and its not spa,

so i have to installed your plugin via :
**npm install vue-hotel-datepicker --save**
_everything is ok._

and then imported to my index.js
**import HotelDatePicker from 'vue-hotel-datepicker';**
_everything is ok._

and where i init my vue:
**var app = new Vue({
  el: "#search",
  components: {
    HotelDatePi

[2018-12-07 09:23] ie76 opened #120 "window is not defined"
### Description
i don't know why i'm getting the following error:

**window is not defined.**
OR
**document is not defined.**

The tab keep loading "Something" i don't know.

### Code sample
[code]

[2018-12-07 11:13] #120 closed

[2018-12-15 13:36] #109 closed

[2018-12-19 17:00] Bennecer opened #122 "Can't use singleDateSelection"
### Description

Hi, I'm trying to get the singleDateSelection working. I might be using it wrong ? I added :singleDateSelection="true" in the tag HotelDatePicker but I still have the daterangepicker when I do that. Has anybody got it working ? Is it supposed to work yet ? Thank you in advance !

### Datepicker Version

vue-hotel-datepicker@2.7.1

[2018-12-20 03:09] annapolar commented on #122
You can try :singleDaySelection="true"
I added this prop and it works.

[2018-12-21 09:53] Bennecer commented on #122
I works ! Thank you 😄

[2018-12-21 09:53] #122 closed

[2018-12-22 16:43] alimranahmed opened #124 "How pre-populate initial date in edit form"
I am working with an edit form. I want to show the date filed with an initial date(very common for edit form). I am not sure what property should I pass to do so. Not being able to find out form the documentation.

Thanks

[2018-12-24 05:54] #124 closed

[2018-12-24 11:17] ahallez commented on #122
The option is indeed singleDaySelection instead of singleDateSelection.
The documentation mentions the wrong option name.

[2018-12-24 11:20] ahallez opened #125 "Single day range possibility"
In my application, the users need to choose the time period for their event. This is a date range, but the length of the range can also be 1 for single day events.
Currently it looks like is not possible to select the same date for the start and the end of the range.
Did I overlook anything?

Update: never mind, I found the solution is this issue #21

[2019-01-02 06:07] #114 closed

[2019-01-05 20:45] #116 closed

[2019-01-07 14:53] riksnelders commented on #47
This... Can this be fixed? Anoying as hell, just using it as a regular datepicker

[2019-01-09 16:50] premiermatt commented on #108
Experiencing the same issues. This is one of the reasons I wanted to use this comp other others.

[2019-01-10 15:16] #118 closed

[2019-01-11 10:19] geroldboehler commented on #117
Hi guys, any news on this? thx!

[2019-01-17 15:06] abclive commented on #117
Hey guys, sorry we won't have time to do a PR as the code branched out quite a bit for our needs. The fix is rather simple if you follow the steps I've described above, perhaps someone could do a PR using that info as a starting point.

[2019-01-24 09:21] Mushr0000m opened #128 "Display inline pickers"
Is there a way to use it with as an inline picker ? We need to always let the pickers visibles and not in absolute position.

[2019-01-30 12:39] #125 closed

[2019-02-07 21:55] pvrsouza commented on #117
still happening?  I couldn't reproduce

[2019-02-07 23:00] pvrsouza commented on #117
Can you send the error?

[2019-02-08 08:52] SpinyMan commented on #117
https://yadi.sk/d/HvZASrZuVvac_w

[2019-02-23 10:37] krystalcampioni commented on #117
@SpinyMan could please send the snippet of how you're using the datepicker? Tried reproducing now using dates of March but wasn't able to reproduce.

[2019-02-25 07:39] SpinyMan commented on #117
Works (current month's value):
[code]
Doesn't works (with future dates):
[code]

[2019-02-25 09:18] willi-dev commented on #109
any update ?

[2019-02-25 17:03] abclive commented on #117
@krystalcampioni @SpinyMan This is the fixed beforeMount for that issue, I explained a bit more above what we did. I don't have time for a proper PR but I hope it helps

[code]

[2019-03-02 15:55] #117 closed

[2019-03-04 15:49] abclive commented on #128
We've implemented that functionnality on our fork, again we don't have time to do a PR but if anyone wants to have a go at it, [here's our updated file](https://github.com/CollectiveDesign/vue-hotel-datepicker/blob/compiled/src/components/DatePicker.vue).

Just look for the openMode prop in the code.

[2019-03-05 12:48] jebkor opened #130 "Mobile-view delay"
Hi there

Interesting component. I have a question, but I was unsure how and where to ask it, so here it is:

 In the mobile view, is it possible to configure how long of a delay there should be, before the next month is shown, factoring in having an endDate set 'n' number of months in the future?

[2019-03-06 09:06] jebkor commented on #130
I think I was experiencing some lag due to the machine I am working on. I am going to close this issue because of that

[2019-03-06 09:06] #130 closed

[2019-03-07 13:10] MattFQ opened #131 "How could I get the values from the user input?"
Hi all,

I read all the docs and see all the examples provided, but can't figure it out how could I receive the values that user input in the DatePicker. I already tried v-model, onChange, onDateChange, checkInChange, checkOutChange, etc. but nothing actually happen and I don't get any values. Also I google it and no solution.

Can someone send me a example of how could I do that?

[2019-03-07 18:53] MattFQ commented on #131
The docs don't provide any example of get values working.

I found the solution in google:
@check-in-changed="method1"
@check-out-changed="method2"

[2019-03-07 18:53] #131 closed

[2019-03-12 04:23] sanjay-shah opened #132 "How to show multiple and variable minimum nights"
### Description

How to set multiple and variable minimum nights

### Code sample
availableWithMinimumStay:
   [ { date: '2019-11-15', minimumDays: '2' },
     { date: '2019-12-26', minimumDays: '7' },
     { date: '2019-12-27', minimumDays: '7' },
     { date: '2019-12-28', minimumDays: '7' },
     { date: '2019-12-29', minimumDays: '5' },
     { date: '2019-12-30', minimumDays: '4' } ]

[2019-03-13 10:08] sofianester commented on #108
use :disabledDaysOfWeek="['Monday', 'Tuesday', 'Wednesday']"

[2019-03-13 10:49] jebkor opened #134 "Unknown custom element"
Hey there

I am currently playing around with this calendar, and in my setup, I want to try and take the built "vue-hotel-datepicker.min.js" and try at use it in my application.
When I use the javascript file, by itself, I get a "Unknown custom element error", and I'm not sure where to go there.
I reference the file with **import HotelDatePicker from '../lib/vue-hotel-datepicker.min**, but I seem

[2019-03-14 14:28] jebkor commented on #134
Update: it seems to be a problem when you want to import the build files in a vue-cli project. So far, it's the only explanation I can come up with. Any ideas?

[2019-03-15 10:08] tbyte80 commented on #57
Hello!
I found this issue because I having the same issue (on mobile it is a bit cumbersome to navigate through months. Often months wouldn't load especially on IOS). The button looks perfect to solve that but I cannot find how to activate it.
It doesn't appear on default and also in the examples I don't see it anywhere.
Any advice?

[2019-03-15 10:23] tbyte80 opened #135 "Button to load more months not appearing on mobile view"
### Description

This problem occurs when using the datepicker with default settings on small viewports (mobile).
It requires a lot of swiping to trigger more months to be displayed. There is an PR ( https://github.com/krystalcampioni/vue-hotel-datepicker/pull/63 ) that addresses this by introducing a button to load more months, however I didn't find any way to make it appear, also in the examples

[2019-03-15 11:22] jebkor commented on #135
It appears that writing some text in the button, while it's a div, will make the button appear.

[2019-04-11 08:28] osindex opened #136 "Suggestion: add custom hoverTip"
### Description

i want display custom content,when focus one day

### Code sample
[code]
like this:
![image](https://user-images.githubusercontent.com/4703215/55941914-cce50180-5c75-11e9-8924-73b62cf1c632.png)

now , i push in my package and adopted to meet an emergency.
Please let me know if the update is available, I'll switch back.
(i cannot but change package.json for npmjs,and not pull reque

[2019-04-11 08:43] Shakkam opened #137 "Choose display month"
Hi from France :)
I'm a new user of your datepicker. We don't use it for hotel reservation so the start date can be 3, 6 .... X months before.

A simple but great feature would be to be able to specifiy a "displayDate", who will force the left month.

For example, if I set a startDate to "2016-01-01" and a displayDate to "2019-04-11", the date picker will open with an April 2019 panel on the left

[2019-04-14 20:28] Sebarkar opened #138 "Display 1 month in picker."
Trying to display datepicker in small block and need to show only one month.
Is any way change count of display month from 2 to 1?

[2019-04-16 11:57] Sebarkar commented on #117
Same problem, if I choice today (2019-04-16 - April days in may - there is [Vue warn]
Error in render: "TypeError: Cannot read property 'days' of undefined"

Another month selection works well.

[code]

[2019-04-16 12:00] Sebarkar opened #139 "Next month startingDateValue and endingDateValue crash."
Problem, if I choice today (2019-04-16 - April, days in May - there is [Vue warn]
Error in render: "TypeError: Cannot read property 'days' of undefined"

Another month selection works well.

        <HotelDatePicker :endingDateValue="new Date (2019-05-22)"
                         :startingDateValue="new Date (2019-05-15)"

[2019-04-17 07:05] millerone commented on #72
This would be great. Please consider this feature.
Thank you!

[2019-04-18 05:02] #132 closed

[2019-04-20 15:53] #134 closed

[2019-04-21 13:25] #135 closed

[2019-04-26 14:16] AdrienMoretti commented on #139
Hey, can you check your version of Vue Hotel Date Picker in your package-lock.json?
Be careful with your version of Vue Hotel Date Picker, because the version 2.7.1 doesn't work, i had the same problem as you.

To solve it, i replaced "vue-hotel-datepicker": "^2.6.4" by "vue-hotel-datepicker": "2.6.4" in package.json

Next, remove node_modules folder, package-lock.json file and install everything

[2019-04-28 16:41] Sebarkar commented on #139
Hello, Adrien, thanks, it means that I need update newest version to old one? It's not so important, cos i have 8 month to finish job on this project, maybe there will be fix that will decide this problem in future.

Anyway thanks a lot, like a reserve way, I had taken it.

[2019-05-06 10:25] waliente opened #142 "closeDatepickerOnClick"
### Description
Is possibile to add a functionality that doesn't close the datepicker when click on tha dates?
I think such as like :closeDatepickerOnClick=false

[Description of the bug or feature]

### Code sample
[ If you are submitting a bug issue, paste your code so I can reproduce it, or a link to a Codepen with it ]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

[2019-05-18 08:58] #136 closed

[2019-05-21 00:11] Branksy commented on #11
After your discussion, is it possible to add a new special date class? I would like to highlight days that are booked and the issue I am seeing at the moment is at all dates before a selected date range are given the same disabled css class. So there would have to be another class to distinguish between the two, or perhaps just prevent prior dates getting disabled...

[2019-05-21 21:53] #138 closed

[2019-06-04 17:45] #139 closed

[2019-06-05 07:34] PascalAOMS commented on #128
Hey @abclive
Any plans on merging this?
We are super interested in this openMode.

Thank you.

[2019-06-05 12:24] mmusket commented on #6
So how does one go about displaying a timezone other than what your is currently using?

[2019-06-06 11:45] egorzot commented on #72
+1

[2019-06-12 11:04] #142 closed

[2019-06-19 06:36] janein commented on #57
I still experience this issue. Does anybody have a workaournd to this?

Otherwise - please reopen.

[2019-06-24 02:02] mmusket opened #148 "CSS nano is out of date and contains a vunerability"
### Description

the css nano is out of date and it contains a version of js-yaml ad npm considers a high risk.

Can you update the package version please.
[code]

### Datepicker Version

2.7.1

[2019-07-01 07:44] PandaLeo opened #149 "Check-in date selection problem"
Why do I use it, after the first selection, re-select, the date of the first checkin, there is no way to re-select this day as the date of checkin.
In addition, if the user chooses the wrong checkin date and wants to select the date before this day, it seems that it cannot be selected. Is this a bug or is there any way to configure it?

[2019-07-09 12:33] debbroto007 opened #150 "startingDateValue is not reactive"
### I want to change startingDateValue props dynamically but it's not working...

[startingDateValue props  is not changing it's value dynamically]

### Code sample

<hoteldatepicker :format="dateFormat"'
        :startingDateValue="startDate"'
        :endingDateValue="endDate"'
        :i18n="datepickerInit"'
        @check-in-changed="setCheckInDate"'
        @check-out-changed="setCheckOutDate

[2019-07-24 03:25] mmusket commented on #148
?

[2019-07-24 13:32] abclive commented on #128
Hey @PascalAOMS sorry just noticing your message now. We curently have no plans of merging this fork as it contains a lot of hacks for our specifics needs and is now far behind the master branch.

However our repo is open and anyone who wants to implement this can use our implementation as a base for a PR.

[2019-08-07 08:43] #149 closed

[2019-08-08 10:18] JonathanVandal opened #156 "Add time picker"
Hello,

Your date picker is awesome but it is possible to add time picker ?
Or maybe it's already possible but I didn't see how I can choose hours / mins

[2019-08-09 14:57] BrotherSymeon opened #157 "Selecting dates"
### Description
When the overlay that displays the dates to choose from is showing, I can only see 2 months and can't scroll to any others

**Expected behavior:** [What you expected to happen]

Expected to be able to scroll to see months in the future

**Actual behavior:** [What actually happened]

can only scroll to see two months: the current one and the next month

### Datepicker Version

 "vue

[2019-08-14 11:34] vlad-doga opened #158 "Changing the colors"
Hi and thanks for the component!

How do I change the colors? It looks like all the colors are hardcoded, and I cannot find classes on some elements like the current day.

thanks!

[2019-08-15 13:39] #150 closed

[2019-08-19 22:22] cssagogo opened #159 "Project Name?"
I'm wondering why you limited the usage of this picker to hotels.  This date picker could be used for any type of UI requiring a start and end date picker.  For my case I need something like this for an analytics application.  I really like the look of this, but hesitate to use something called vue-hotel-datepicker in my project.

[2019-08-20 13:59] guillaumebriday commented on #82
I think this example should be in the readme.

Is it planned to add the support of `v-model` ?

Thank you for your work !

[2019-08-26 08:54] zangab commented on #157
if this problem is on mobile screens, you could reuse our hotfix solution:
`<script>
import throttle from 'lodash.throttle';
import HotelDatePicker from 'vue-hotel-datepicker';

export default {
  extends: HotelDatePicker,

  methods: {
    renderNextMonth: throttle(function () {
      if (this.activeMonthIndex < this.months.length - 2) {
        this.activeMonthIndex++;
        return
      }

[2019-08-28 09:04] Epistol commented on #159
Double that, it's one of the only good range picker for vue, but the whole night thing is a bit useless in others situation.

[2019-08-28 15:57] guillaumebriday opened #161 "Emit more events"
### Description

emit more events like `@close`, `@open` or `@clear`. It could be very useful to know when to submit a form for example.

### Datepicker Version

Version: 2.6.4

[2019-08-30 03:58] #148 closed

[2019-09-02 06:26] xibeizer opened #162 "Can I use it on the PC"
### Description

[Description of the bug or feature]

### Code sample
[ If you are submitting a bug issue, paste your code so I can reproduce it, or a link to a Codepen with it ]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

### Datepicker Version

[ The version of th

[2019-09-06 10:10] willi-dev opened #163 "How to deselect start date after select startDate & endDate"
### Description

 i want to deselect /reset end-date when i click on selected date (start-date & end-date) after i choose start-date & end-date.

**Expected behavior:**
selected date that i have select, can click and reset end-date selected (i see it in example in https://krystalcampioni.github.io/vue-hotel-datepicker/ )

**Actual behavior:**
i can't click selected date and reset end-date

### Dat

[2019-09-09 07:40] Epistol opened #164 "Setting the checkIn and checkOut date programatticaly ?"
### Description

I'm trying to make sure that, on a edit page using that component, the data values of checkIn and checkOut are filled with the date from the model, but apparently there is nothing on it to do that.

### Code sample

[code]

[2019-09-09 07:51] Epistol commented on #164
@zangab

[2019-09-14 11:11] #156 closed

[2019-09-20 13:24] #158 closed

[2019-10-02 09:32] #157 closed

[2019-10-04 11:01] #164 closed

[2019-10-19 14:49] #162 closed

[2019-10-23 08:57] guillaumebriday opened #166 "disabledDaysOfWeek does not use firstDayOfWeek"
### Description

disabledDaysOfWeek does not check if firstDayOfWeek has been override. For example, in Europe for most countries the first day of the week is monday (1) and when you disable some day there is an offset of 1.

I think this array should be the number of the days whatever is the locales or the first day of week

For instance:

[code]

Thank you guys for your awesome work!

### Code s

[2019-10-28 22:51] mhp-borisbojic opened #167 "Conflicting package name of vue-hotel-datepicker"
Hey,

there is another package with the very same name as yours:

https://github.com/northwalker/vue-hotel-datepicker

This gives my current project (and version selection) a headache. ;)

Would you consider changing the name?

[2019-11-16 00:02] matiasperrone opened #168 "package.json has different version than in the release or tag version"
Last commit has 2.6.4 version in packages and the releases says 2.7.1.

[2019-11-16 00:04] matiasperrone commented on #67
I am in!

[2019-11-21 20:14] matiasperrone commented on #168
Changing (up) versions.

[2019-11-21 20:26] matiasperrone commented on #168
Solved in last release.

[2019-11-21 20:26] #168 closed

[2019-11-21 20:30] matiasperrone commented on #128
Hi, I be working on this.

[2019-11-21 20:42] matiasperrone commented on #137
Hi from Argentina @Shakkam, your English is cool.
I am not sure what are you asking... can you provide us with a PR?

[2019-11-21 20:55] matiasperrone commented on #137
Is it possible that you need to use "startingDateValue"?

[2019-11-21 21:04] matiasperrone commented on #108
I am interested in this issue.
I understand what you mean, but it could be a compatibility breaking change. We should change the prop name in order to correct this issue, maybe by converting this Array of string as numbers, so it does not depend on i18n.

[2019-11-21 21:05] matiasperrone commented on #166
See #108

[2019-11-21 21:06] matiasperrone commented on #166
I think is not the same but it is related.

[2019-11-21 21:10] matiasperrone commented on #99
This topic should be addressed, but seem complex. I neebie now as a collaborator.

[2019-11-21 21:42] Shakkam commented on #137
Hi ! I'm not working on it anymore... But thanks for your answer :)

Le jeu. 21 nov. 2019 à 21:55, Matias Perrone <notifications@github.com> a
écrit :

[2019-11-28 17:47] dubemarcantoine opened #171 "Feature request: Show price for the night"
### Description
I am currently creating an online booking website and use this library. What I need is to display the prices for each nights which can change depending on the period of the year.

I started the development and would like to know if you would be interested in a PR of such a feature.

### Code sample
https://github.com/dubemarcantoine/vue-hotel-datepicker

[code]

It looks like this:

[2019-12-05 02:20] #167 closed

[2019-12-06 14:41] matiasperrone commented on #171
Marc, maybe you can provide us with a Pull Request?

[2019-12-06 14:45] #166 closed

[2019-12-06 14:48] matiasperrone commented on #128
Hi, I am a little swamp right now, so it could take a while.

[2019-12-08 15:26] dubemarcantoine commented on #171
Sure, I'll do the PR next weekend as I'm in my finals week and have to study :smile:

[2019-12-17 00:26] roonie007 opened #175 "Push changes to NPM"
### Description
Push the changes to NPM, the package did not get any update since 02-03-2019.

[2019-12-18 20:32] matiasperrone commented on #171
Hi @dubemarcantoine, do you have the PR?

[2019-12-18 21:22] dubemarcantoine commented on #171
Hello @matiasperrone !
My bad I had totally forgotten.
There it is: https://github.com/krystalcampioni/vue-hotel-datepicker/pull/176

[2019-12-26 19:53] #137 closed

[2019-12-28 05:05] ayophanz opened #177 "Please add "onClose" event(Enchancement)"
Please add "onClose" event suggestions

[2019-12-30 14:41] matiasperrone commented on #177
Cool event...

[2019-12-30 14:43] matiasperrone commented on #175
@krystalcampioni I've requested access to the NPM package 😄 ...

[2019-12-31 03:33] ayophanz opened #178 "SECURITY VULNERABILITY!!!!"
![image](https://user-images.githubusercontent.com/24581584/71609167-5a300380-2bc1-11ea-968c-e7c0cf138952.png)

Update those packages in your package.json

[2020-01-07 09:40] krystalcampioni commented on #175
I've given NPM access to @matiasperrone. Closing this for now 🙌

[2020-01-07 09:40] #175 closed

[2020-01-11 16:23] Nightwing316DftPnk opened #179 "The index file was not found to installation"
the index file to the project was not found.

[2020-01-14 15:45] saniales commented on #178
please do this ASAP

[2020-01-14 16:57] matiasperrone commented on #178
How may I reproduce this?

[2020-01-14 17:01] matiasperrone commented on #179
@Nightwing316DftPnk I don't understand the issue here.
Can you please explain in detail what should be fixed and why?

Do you prefer to write in spanish? I can do that.

[2020-01-14 18:13] saniales commented on #178
Just run `npm audit` or `yarn audit after installing the package

[2020-01-14 20:18] matiasperrone commented on #178
Yeah, but I have found:

341 vulnerabilities found - Packages audited: 8317
Severity: 32 Low | 30 Moderate | 279 High

So is time to look at version 3... and correct some very old packages

[2020-01-14 20:19] matiasperrone commented on #178
@krystalcampioni What do you think?

[2020-01-14 20:22] matiasperrone commented on #179
Please check `src/index.html`

[2020-01-14 20:22] #179 closed

[2020-01-14 20:36] Nightwing316DftPnk commented on #179
Cuando instalo la librería vía NPM no instala el archivo index.ts no lo veo
dentro de la carpeta de no de

[2020-01-21 15:35] rndmax opened #180 "I can not start picker"
### Description

Hey. I tried to insert 'vue-hotel-datepicker' in a universal application in 'nuxtjs', however I could not achieve a positive result. Next, I installed the 'Hello World' application via 'vue-cli' and tried to add 'vue-hotel-datepicker' to it, but I also failed.
Here is the error I get:
Module not found: Error: Can't resolve 'vue-hotel-datepicker' in ...
That is, the module was not

[2020-01-22 15:36] tkima commented on #178
Just update the cssnano 3.10.0 dependency to cssnano 4.1.10?

[2020-01-23 05:38] matiasperrone commented on #180
Sorry about that, its now fixed in the 2.7.6 version

[2020-01-23 05:38] #180 closed

[2020-01-23 16:40] sonia360 opened #181 "CDN"
Possible to use the plugin in a non Single Page App?

[2020-01-23 21:11] DubuBoing opened #182 "Simplifying the output date"
Hello, is there a way for the output to be only the date? Since it's like this when I console.log it:
![image](https://user-images.githubusercontent.com/57252283/73023603-d935f600-3e66-11ea-87ed-eb4162081f2f.png)
Here's the code I used:
`<HotelDatePicker format="DD/MM/YYYY" @check-in-changed="updateCheckIn($event)" @check-out-changed="updateCheckOut($event)">
						</HotelDatePicker>`
The Script:

[2020-01-24 05:02] ayophanz commented on #178
thank you :) @matiasperrone for your time on this issue.

[2020-01-24 05:08] ayophanz commented on #182
You can format the output using moment js like ( moment(date).format('YYYY-MM-DD'); )

[2020-01-24 15:40] DubuBoing commented on #182
Ah, that works

[2020-01-24 15:40] #182 closed

[2020-01-27 15:38] matiasperrone commented on #181
It's possible. I did not understand if that it's just the question.

[2020-01-27 15:38] #181 closed

[2020-01-27 15:45] sonia360 commented on #181
@matiasperrone Can you explain me how?  I think I do something wrong.

[2020-01-27 15:48] matiasperrone commented on #181
I don't know how, please check the [issue template](https://github.com/krystalcampioni/vue-hotel-datepicker/blob/master/issue_template.md).

Keep in mind that I don't how are you using or deploying the app.

[2020-01-27 15:49] matiasperrone commented on #181
If you can, explain what problems are you having or errors.
Maybe a bit of code...?

[2020-01-27 16:52] matiasperrone commented on #178
I am going to move the code to the new version on all the dependencies so it'll be up to date, I will be moving to version 3.x to do so.

Also I am going to try to add all the pending PRs with new features.

Maybe also leaving pug lang behind... but I don't know just yet, maybe in the future ¿perhaps 3.1?🤔.

[2020-01-28 17:04] jefftrois60 commented on #181
Hi @matiasperrone following sonia360 comments i'm wondering if you have as well a cdn link for me to use inside a php project. I don't want to have to install everything in my project and I only want to include a small calendar component inside my app. Is it possible? I've looked around and I haven't found a cdn option for your calendar like the other one, thanks

[2020-01-28 18:26] matiasperrone commented on #181
All npm packages have free CDN access as `https://cdn.jsdelivr.net/npm/package@version/file`
For more information check https://www.jsdelivr.com/

[2020-01-28 18:40] jefftrois60 commented on #181
@matiasperrone
We already tried those:
<div id="root">
    <div><HotelDatePicker /></div>

    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-hotel-datepicker@2.7.6/dist/vue-hotel-datepicker.min.js"></script>
    <script>
        new Vue({
               el: '#root',
            export default {
              components: {

[2020-01-28 19:13] jefftrois60 commented on #181
I changed the component name to: <hotel-date-picker> now it sees the data but nothing is showing on the screen... @matiasperrone

[2020-01-28 19:14] jefftrois60 commented on #181
<img width="996" alt="Capture d’écran, le 2020-01-28 à 14 13 57" src="https://user-images.githubusercontent.com/60400256/73296818-6e731a80-41d8-11ea-9dd1-cb71e7f61539.png">

[2020-01-29 15:41] jefftrois60 commented on #181
@matiasperrone  any hints?

[2020-01-29 19:24] matiasperrone commented on #181
This line of questioning has nothing to do with this issue, is a javascript issue and how do you implement the dependencies?

You must request all the dependencies before this one (I think there are many +500)
So you will notice that lots of script tags must be added.

Alternative solution:
If you have a compiled version with of all the necessary files in one or two (via vue-cli build) you can upl

[2020-02-17 13:03] matiasperrone commented on #177
This will be added on v3, that I am currently working on.

[2020-02-18 01:38] ayophanz commented on #177
That's great!!
thanks

[2020-02-18 07:52] ayophanz commented on #178
That's great

[2020-02-18 15:18] krystalcampioni commented on #178
I'm totally up for removing pug. As much as I love it, we had quite a lot of people asking for removing it since I first released the package. 👍

[2020-02-18 17:54] matiasperrone commented on #178
I am working on version 3, with pug in it in order to release it as soon as possible. I am also incorporating all the PRs, some with some changes.

I am very busy on work right now, so as soon as I can it will be available

[2020-02-18 18:04] matiasperrone commented on #97
So... let me understand.
Do you want to ignore the minNights sometimes?

Do you want to add this feature on v3? maybe 3.1?
I do need a more detailed example or examples of the logic. I am not following the logic here... seems that you need not to set the minNights option.

Do you want not to restrict sometimes, maybe with a function?

The array feature seems interesting, thought.

[2020-02-18 18:18] matiasperrone commented on #171
I just about to add this to the [v3 branch](https://github.com/krystalcampioni/vue-hotel-datepicker/tree/v3.0.0). But with some changes:

The props are called `priceDefault` instead of `defaultPrice` and  `priceByDate` instead of `priceRanges`, and each "range" or date must have the following format: `{start: <Date>, end: <Date>, price: <Number or String>}`.

Still not commited yet, I didn't have

[2020-02-18 18:25] matiasperrone commented on #171
I have pushed prealpha version on v3 branch... maybe you can take a look. 👍

[2020-02-18 18:30] matiasperrone commented on #81
Hi guys! seems that this feature went 🧊.

I am working on v3. I think it should be easier to add it if you provide me with a PR... still interested?

[2020-02-19 11:26] Maxximus007 commented on #97
Okay let me try to explain.
As an example we have set minNights at 5. This guarantees that bookings will have at least 5 nights. But it's quite possible we have several non-connecting bookings with less than 5 nights in between.
These periods become unbookable, because you are able to select the startdate but can't select an enddate that adheres to the minNight restriction.

Let's say we have 2 bo

[2020-03-06 00:35] Santro123 opened #183 "Datepicker only shows one month on Mobile and if you scroll down multiple times it will show next month"
### Description

Datepicker only shows one month on Mobile and if you scroll down multiple times it will show next month. Nxt and previous month button < and > are not shown.

### Steps to Reproduce

Open datepicker on mobile device or mobile layout

**Expected behavior:** User can select any month and select any next month

**Actual behavior:** Only current and next month can be chosen

### Datep

[2020-03-06 01:34] #183 closed

[2020-03-06 03:03] alexist-ong opened #184 "Unable to re-select same checkin date"
### Description
On the demo page [https://krystalcampioni.github.io/vue-hotel-datepicker/](https://krystalcampioni.github.io/vue-hotel-datepicker/), after user has made the first range selection, subsequently user can still re-select the same checkin date (in case if user wants to change the checkout date with the same checkin date). However, when I installed the component to my local Vue project,

[2020-03-11 14:34] CavalcanteLeo opened #185 "Use only the past dates"
I am using it in another way, to select a period of time and show all reports of that period.

So, what I need is enable all past date and disable all future dates.
Further more, would be grat if i would set which period

Is it possible?

i tried something like this, but didn't work:

[code]

[code]

[2020-03-11 14:52] CavalcanteLeo commented on #185
My bad, i wasn't passing a data object.

[2020-03-11 14:52] #185 closed

[2020-03-18 22:24] akation opened #186 "Bug with april month and starting-date-value"
### Description

When Im trying to set starting-date-value and ending-date-value it works with all months except april.
I've tried to use new Date(), moment, everything that comes to my mind and still getting problems setting starting-date-value with april (04) month. I even did start date feb to april and it's working, the problem is with april to april.

Error in render: "TypeError: Cannot read

[2020-03-19 15:01] emad-sure commented on #184
@krystalcampioni  any help with this case , it works perfect on demo , but when installed i had the same exact issue

[2020-03-19 15:37] emad-sure commented on #163
@zangab  how can i apply it through nuxt js , classes selectors are just like ghosts

[2020-03-19 16:27] matiasperrone commented on #186
Hi @akation,

Please, provide us with a working example.
Can you? because if not, it's more difficult find the exact error and fix it

At first it seems a GET parameters issue... but who knows

[2020-03-19 16:30] matiasperrone commented on #184
I'll be trying to reproduce this error today. I'll hope have news.

[2020-03-23 14:16] sonia360 opened #187 "Disable date array disable the day before"
The array
 disabledDates: ['2020-03-26', '2020-03-30'],

Disable the 2020-03-26 and 2020-03-29

If I pass disabledDates: ['2020/03/26', '2020/03/30'],
It's give me the good date.

The doc is up to date? Any Idea?

[2020-03-23 14:19] sonia360 opened #188 "Check disabled dates whithin the range."
it's is normal? It's not suppose to enable only the next disable day after start date?

Currently it's enable all day so I can range hover a complete booking...

[2020-03-26 19:12] #178 closed

[2020-03-26 21:13] akation commented on #186
Let me know if it helps:

http://stage.homebelike.com/

Destination: Dominican Republic
Dates: 1 - 3 of april

http://stage.homebelike.com/results?destination=%7B%22label%22%3A%22Dominican%20Republic%22,%22type%22%3A%22country%22,%22id%22%3A66%7D&travelers=%7B%22label%22%3A%221%2B%20Travelers%22,%22value%22%3A1%7D&check_in=2020-4-1&check_out=2020-4-3

Then see the console error =/

![Screen Shot 2

[2020-04-03 13:57] akation commented on #186
I was checking the data i received from the URL and console log it.

Data that trigger errors:

2020-5-1
2020-5-9
Fri May 01 2020 00:00:00 GMT-0400 (Atlantic Standard Time)
Sat May 09 2020 00:00:00 GMT-0400 (Atlantic Standard Time)

Data working properly:

2020-4-3
2020-4-11
Fri Apr 03 2020 00:00:00 GMT-0400 (Atlantic Standard Time)
Sat Apr 11 2020 00:00:00 GMT-0400 (Atlantic Standard Time)

The o

[2020-04-14 21:33] akation commented on #186
Is there anyone else that could help me with this?

[2020-04-15 14:27] matiasperrone commented on #186
Andrés,

I didn't have the time to check this bug.
Would you like to send me a PR?

[2020-04-15 14:37] matiasperrone commented on #186
So, here is the console warning:

[code]
It seems an MomentJS issue. We don't have moment dependencies.
Maybe you can create a moment using year, month and day instead of using a string.

I will close this because the problem seems external.

[2020-04-15 14:40] matiasperrone commented on #188
@sonia360 can you elaborate a more detail example?

[2020-04-15 14:43] matiasperrone commented on #187
I just found out that the docs are of an older version but, the features are similar.
I didn't understand the problem or your example is incorrect in same way.

[2020-04-15 15:14] sonia360 commented on #188
Exemple:
disable date : june 3, june 5, june 10

If I choose june 2 it's suppose to enable checkout on june 3 only right?. but I can pass over all date it's enable checkout on all date. So a user can book on already booked date

[2020-04-15 15:17] sonia360 commented on #187
The array
disabledDates: ['2020-03-26', '2020-03-30'],

**Disable the 2020-03-25 and 2020-03-29**

If I pass disabledDates like this: ['2020/03/26', '2020/03/30'],
It's give me the good date.

but in the doc It's like my first exemple

[2020-04-15 18:22] matiasperrone commented on #187
What do you mean with "_It's give me the good date._"?

[2020-04-15 18:27] matiasperrone commented on #188
That's right, but check for disabled dates in between of a range is not a feature of the datepicker right now. Could be added but is not a bug, it's a missing feature if you like.

I am afraid that you are going to check this issues externally, but if you want you can provide a PR with the solution and I will tested and incorporate in the 2.x branch.

Can you do it?

[2020-04-20 18:07] akation commented on #186
ok but I am using moment because i was getting the same error before including moment, and i thought maybe using moment i could fix this issue with the date format.

[2020-04-20 21:58] matiasperrone commented on #186
Why do you transform a perfect good `Date` object into a string object? that's the problem.
`this.config.check_out` has the problem, try specifying the format string or use the Date object instead and transform the view with a computed property instead.

[2020-04-20 22:00] matiasperrone commented on #184
Sorry I wasn't able to check it out I didn't have the time. Please PR me or point to the problem in the code.

[2020-04-21 03:08] alexist-ong commented on #184
Hi @matiasperrone , I believe `pointer-events: none` along the line #803 on DatePicker.vue is causing the problem. May I suggest 2 solutions to tackle this issue?

**Solution 1**
Comment out line #802 and #803 on DatePicker.vue

**Solution 2**
Add CSS rules to selector `.datepicker__month-day--first-day-selected, .datepicker__month-day--last-day-selected` to enable pointer-events. I'm proposing to

[2020-04-21 04:16] matiasperrone commented on #184
I found the same issue on v3...

[2020-04-21 04:32] matiasperrone commented on #184
Resolved - https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v2.7.8

[2020-04-21 04:32] #184 closed

[2020-04-21 04:35] #187 closed

[2020-04-21 04:36] #108 closed

[2020-04-21 18:56] akation commented on #186
Thank you for trying to help.

Look at this:

Invalid prop: type check failed for prop "startingDateValue". Expected Date, got String with value "Sun May 03 2020 00:00:00 GMT-0400 (Atlantic Standard Time)".

I'm passing through localstorage the whole object, when i try to assign it to startingDateValue I get that error =/

I'm not changing anything, in setCheckinDate  and setCheckoutDate when date

[2020-04-21 19:53] matiasperrone commented on #186
You have to convert to Date

[2020-04-21 20:04] akation commented on #186
Would you please give me an example? because of the way Im converting it to a date it's not working. Using parse date.

[2020-04-21 22:06] matiasperrone commented on #186
`new Date('Sun May 03 2020 00:00:00 GMT-0400 (Atlantic Standard Time)')` or try to save it in JSON format

[2020-04-21 22:15] akation commented on #186
I tried that before and got an error, I  tried again and got `Error in render: "TypeError: Cannot read property 'days' of undefined"`

=(

[2020-04-22 15:45] matiasperrone commented on #186
@akation this are development issues please provide me with a https://codepen.io/ and (if I have the time) I will help you.

[2020-04-23 21:28] akation commented on #186
It's a bug, I solved it downgrading the version.

Thanks for the help.

https://github.com/krystalcampioni/vue-hotel-datepicker/issues/139

AdrienMoretti commented on Apr 26, 2019
Hey, can you check your version of Vue Hotel Date Picker in your package-lock.json?
Be careful with your version of Vue Hotel Date Picker, because the version 2.7.1 doesn't work, i had the same problem as you.

To solve

[2020-04-23 23:36] matiasperrone commented on #186
What version are you using?

[2020-04-23 23:36] #186 closed

[2020-04-23 23:38] matiasperrone commented on #186
Check the v3 RC-1 please!
https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v3.0.0-RC1

[2020-04-28 14:19] akation opened #189 "Is it possible to disable all past dates from a specific date?"
Hello again,

I'd like to disable all past dates from a specific date, for example: I have two separated fields, one for start date and one for end date (the client wants it this way...) when the user select te start date I want to disable all past dates based on that specific start date in the end date field. Is this posible? I mean, I know i can fill an array with the dates i want to disable, bu

[2020-04-28 14:28] matiasperrone commented on #189
Hi Andrés (@akation),

It's possible, check https://krystalcampioni.github.io/vue-hotel-datepicker/#moreExamples.
You have to use `startDate` prop, instead of using the disabled dates array.

[2020-04-28 14:28] #189 closed

[2020-04-28 14:40] akation commented on #189
Makes sense, thank you Matias.

[2020-04-30 15:49] joffreyBerrier commented on #67
Hi I have created a fork of the repo and i have do some changes

- https://github.com/joffreyBerrier/vue-hotel-datepicker/projects/1
- https://github.com/joffreyBerrier/vue-hotel-datepicker

[2020-05-01 13:56] cjlaborde commented on #67
I didn't like that you removed the original design, it doesn't look good now,
I preferred the green look since it matched my project color theme.
As well why the issue tab not available in your fork?
I had to uninstall your fork because of this, is too bad because I liked a lot of changes you did.

[2020-05-03 00:13] matiasperrone commented on #67
All these changes are available in v3 did you try it?

[2020-05-03 11:18] cjlaborde commented on #67
Does v3 has these features that Joffrey implemented?
Use vue-cli
Remove the pug html, use html
Remove some useless dependencies
Rewrite code
Add eslint airbnb + prettier
Remove useless condition like empty if or else
Add return for all computed
Add a bind key on v-for
Rewrite jest test
Remove v-html / v-text use {{ }}
Add emit when clearSelection
Remove querySelector, use refs
Fix bug: impossible

[2020-05-04 12:30] cjlaborde opened #191 "Exact Nights Value to perform Calculations."
I would like to extract nights to perform calculations.
price * Number of Nights =  Total Cost.

Displaying nights is Great but would be better if we could extract it to perform preview of the total cost.

Or is this already possible?

[2020-05-04 15:05] matiasperrone opened #192 "I have created a fork of the repo and i have do some changes"
@joffreyBerrier said:

@cjlaborde said:

@matiasperrone (colaborator) said:

@cjlaborde said:

[2020-05-04 15:07] matiasperrone commented on #67
@joffreyBerrier and @cjlaborde  please continue in #192

[2020-05-04 15:12] matiasperrone commented on #192
@cjlaborde

[2020-05-04 15:13] matiasperrone commented on #192
@joffreyBerrier

[2020-05-05 18:23] cjlaborde commented on #188
I encounter the same issue just now and working to see what I can do to resolve this now.

[2020-05-06 22:09] cjlaborde opened #193 "Minimum Nights not working"
[code]
Can Still make reservations.
Even when 0 nights and having same date as start_date and end_date.

Here is a gif image.
https://gph.is/g/E1nMW32

[2020-05-17 08:14] mariusa opened #194 "please update devDependencies"
### Description

package.json > devDependencies lists some old versions, which depend on old versions themselves, which results in npm warnings

Please change to the simpler syntax, eg
[code]

Thanks

[2020-05-18 04:05] matiasperrone commented on #194
Did you check the v3?

[2020-05-18 05:18] mariusa commented on #194
That looks great, I wasn't aware about it. Thanks!

[2020-05-18 05:18] #194 closed

[2020-05-18 05:23] mariusa commented on #194
Could you please publish 3.0.0 to npm? Or, how to install now?

[2020-05-18 15:59] matiasperrone commented on #194
Sure thing... done!

[2020-05-18 16:00] matiasperrone commented on #194
v3.0.1

[2020-05-18 16:15] mariusa commented on #194
Ah, sorry, but it doesn't seem to work.
`npm install` works, but when starting the app it gives
[code]

I think the cause is the `dist/` folder missing. Version 2.x had it (and no source), other npm packages also have the `dist/` folder.

[2020-05-18 22:03] matiasperrone commented on #194
I forget to include the files in package.json so that's why it didn't work

[2020-05-18 22:04] matiasperrone commented on #194
v3.0.3 is the charmed!

[2020-05-19 04:19] mariusa commented on #194
Still an issue :(

To replicate:
[code]

So far so good. Then add to App.vue
[code]
results in

[code]

[2020-05-20 19:49] matiasperrone commented on #194
Done, sorry build issue in package.json v3.0.5 should work now

[2020-05-21 05:15] mariusa commented on #194
Hi, now there's another error using the replicate steps above:

[code]

It would be useful for you to test after release ;)

[2020-05-22 19:25] jpoiron opened #196 "Failed to mount component: template or render function not defined"
I'm getting an error when rendering and I'm wondering if perhaps I'm doing something wrong. I'd really love to use this component as it looks great!

Please see this example that reproduces the behavior. I just followed the steps in the docs to import, register, and use the component (in `HelloWorld.vue`).

https://codesandbox.io/s/heuristic-shape-w3qtn

**Expected behavior:** The component is dis

[2020-05-22 22:19] matiasperrone commented on #196
@jpoiron I am going to solve this issue between today and tomorrow.

[2020-05-26 17:38] jpoiron commented on #196
That would be awesome, thanks!

[2020-05-26 18:08] matiasperrone commented on #196
I have some personal issues so I am delayed

[2020-05-26 18:10] jpoiron commented on #196
No worries, take care.

[2020-05-26 19:41] matiasperrone commented on #196
Resolved on v3.0.7 error on build (not a UMD) and the CSS was not inline.

[2020-05-26 20:16] matiasperrone commented on #196
Sorry still does not work

[2020-05-26 20:20] matiasperrone commented on #196
Solved!
https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v3.0.9

[2020-05-26 20:20] #196 closed

[2020-05-26 20:23] jpoiron commented on #196
Looks good in my codesandbox used to repro the issue. Thanks!

[2020-05-26 22:38] guillaumebriday opened #197 "Keep a Changelog"
### Description

Congrats for the 3.0 released! But as long a major version involved a breaking change, we don't know how to upgrade from 2.x to 3.x. There is no CHANGELOG.md nor informations in the releases tab.

Would you consider adding a CHANGELOG.md file or adding some information in the release section?

Maybe https://keepachangelog.com/en/1.0.0/ is a good start?

Thank you for your work 🙏

[2020-05-27 18:31] matiasperrone commented on #197
There are not breaking changes, mainly we change the way that the software is build.
Now using the vue-service-cli.

Sure, maybe it should have a changelog, but I ran out of time right now, but, don't worries it will be addressed soon.

Any way there are no breaking changes, I am trying hard to update the documentation to the new version since it using an old version and @krystalcampioni has not t

[2020-05-27 18:31] #197 closed

[2020-05-28 12:51] mariusa opened #198 "valid date is gray instead of black"
Hi,

In 2.x, the dates list is quite clearly differentiated. Valid dates are black:
![Screenshot from 2020-05-28 15-46-58](https://user-images.githubusercontent.com/1283842/83143449-a6dd2380-a0fa-11ea-89a1-ab8d24625e4c.png)

In current 3.0.9, valid dates are gray, which makes them harder to see:
![Screenshot from 2020-05-28 15-46-51](https://user-images.githubusercontent.com/1283842/83143479-b0ff2

[2020-06-02 12:50] remcoz opened #199 "Show on desktop the calendar open"
We want to show the calendar by default open on desktop. Is that possible?

thanks .renco

[2020-06-05 01:31] GacemBekhira opened #200 "how do i implement it on laravel"

[2020-06-05 07:14] cr-lgl opened #201 "Why is the previous date blocked after selecting check-in?"
### Description

Why is the previous date blocked after selecting check-in?

Personally, I don't think it's very good for the user experience.

After selecting check-in, if select the previous date, I want to re-selection the check-in.

### Code sample
https://pkgtour.naver.com/

Initial value selection:
![Jun-05-2020 15-56-32](https://user-images.githubusercontent.com/32331576/83846195-30b56e00-a

[2020-06-08 08:44] mariusa commented on #198
ping @matiasperrone ?

[2020-06-08 14:42] matiasperrone commented on #198
I am thinking that taking the css in an external file will be the best way to go. But is a sort of breaking change so...
Anyway I'll be implementing this changes in v4 (soon...)

[2020-06-08 14:43] matiasperrone commented on #200
Like any other plugin, using npm or pnpm or yarn.

[2020-06-08 14:43] #200 closed

[2020-06-08 14:44] matiasperrone commented on #201
Do you have a PR?

[2020-06-08 14:45] matiasperrone commented on #193
Check the last version, I couldn't duplicate this behaivour.

[2020-06-08 14:45] #193 closed

[2020-06-08 14:47] matiasperrone commented on #191
This is a Feature Request. I don't think I'll be implementing this, but I will if you can provide a PR. What do you think?

[2020-06-08 14:52] matiasperrone commented on #161
Well I will be adding this on v4 (total rewrite)

[2020-06-08 14:54] matiasperrone commented on #159
Yeah... it's true... perharps we should you label instead of "price" right?....
I am not sure about the implications...

[2020-06-08 14:55] matiasperrone commented on #183
Why did you closed this?

[2020-06-08 15:00] matiasperrone commented on #167
Hi, @mhp-borisbojic I'm one of the mantainers... why do you want that? Why it is a headache?... once you set the require in npm, it does its magic...

[2020-06-08 15:01] cherryred5959 commented on #201
@matiasperrone No, not yet.

I found a small problem, fix it, and then I'll post it.

[2020-06-08 15:55] vasilisdotme opened #202 "Safari wrong appearance"
### Description

When a project uses [normalize.css ](https://github.com/necolas/normalize.css) the mobile popup on safari looks weird.

![Screen Shot 2020-06-08 at 18 12 47](https://user-images.githubusercontent.com/36303561/84049271-e508fb80-a9b4-11ea-863d-8ad9c876fd5e.png)

### Steps to Reproduce

1. Add normalize.css
2. Open Safari with small enough resolution to see the mobile popup
3. you wi

[2020-06-09 04:50] cjlaborde commented on #191
I already resolved it weeks ago with

[code]

[2020-06-09 04:50] #191 closed

[2020-06-09 06:20] mhp-borisbojic commented on #167
Well, back then (this was October 2019!) it was a headache, because npm wanted to install the other package - but it's working now. ;)

[2020-06-09 14:51] matiasperrone commented on #191
There is a PR?

[2020-06-09 15:43] #202 closed

[2020-06-10 13:57] matiasperrone opened #204 "The "master" discussion"
@krystalcampioni do you think that we should change the main branch (master) to another, more politicaly correct name, like "trunk" or "main" or "dev"... just a thougt... What do you think?

[2020-06-10 16:24] #204 closed, assigned to nobody

[2020-06-14 20:45] joffreyBerrier commented on #192
Hi @matiasperrone

Why did you create this issue what are you waiting for?

[2020-06-14 20:52] joffreyBerrier commented on #192
Sorry I don't saw your question @cjlaborde.

I remove some useless CSS, this repo contains lot of dead code.

I put my own style because I used this repo at my work. The new style correspond to the website.

But you’re talking about CSS, this is something that you can change easily. I haved focus on the JS code.

You are soon have the possibility to custom CSS with variable

[2020-06-16 16:07] matiasperrone commented on #192
Seems apropiate!! exactly what I'd do.

[2020-06-16 16:08] matiasperrone commented on #192
@joffreyBerrier Do you want to help me maintain the repo?

[2020-06-16 22:14] zac-chen opened #205 "Can not scroll down for more months and dates on mobile"
**Description**
Hi there, I have an issue about loading more months on mobile view. When I try to select a date on mobile view, I am not able to scroll the calendar down to see more months and dates, it always shows me the default two months. Is there any solution for this issue? Thanks !

**Datepicker Version**
3.0.10

[2020-06-17 07:52] joffreyBerrier commented on #192
Yes, but is it possible to keep my code?

I modified and improved a lot of code and added new features, I can't lose all of that because I use my fork on a production site which needs all my new features

[2020-06-18 13:28] guillaumebriday opened #206 "Icons are not loading since 3.x"
### Description

In version greater than 3.x icon are missing with Webpack.
And everything works fine in <2.7.x

I think the way this library is bundled is broken. :/

[This component](https://github.com/krystalcampioni/vue-hotel-datepicker/blob/main/vue.config.js#L8) does not exist.

**Expected behavior:** [What you expected to happen]

Here's a screenshot in 2.7.8
![Screenshot 2020-06-18 at 15 1

[2020-06-18 15:46] matiasperrone commented on #192
Sure, I think that we can make a merge of the repositories. You can, if you want provide a PR, what do you think?

[2020-06-18 15:47] matiasperrone commented on #206
Can you specify the version that are you using?

[2020-06-18 16:07] guillaumebriday commented on #206
@matiasperrone 3.0.10

[2020-06-19 09:07] joffreyBerrier commented on #192
Yes sure @matiasperrone , I have a few things to do before that ! Rest in touch !

[2020-06-23 13:03] adnanashraf107 opened #209 "Change/set check-in and check-out dates programmatically"
### Description

I want to open the date picker with a pre-selected date range. For example, I've two (home & show) pages. The user selects the date range from the home page and submits the form which redirects to the show page. Now I want to populate the date picker with that selected range on show page. It would be great if we can set check-in and check-out values with props.

### Datepicker Ver

[2020-06-23 18:03] matiasperrone commented on #209
Try to update to v3.0.10, https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v3.0.10

[2020-06-23 18:03] #209 closed

[2020-06-24 05:51] adnanashraf107 commented on #209
Thank you for your response. As per your suggestion, I've updated my version from 3.0.9 to 3.0.10 but I'm still not able to set the date range before opening the date picker. I want to change the check-in and check-out date programmatically. It would be great if you will provide me an example of how to it.

[2020-06-25 07:23] remcoz opened #210 "Load date range based on url variables"
Hi,

use v3.0.10

From our listing user search on available dates, with this links pointing to the accommodations.

domain/accommodation-1234?adults=2&check_in=2020-07-04&check_out=2020-07-11&children=&infants=
domain/accommodation-678?adults=2&check_in=2020-07-04&check_out=2020-07-11&children=&infants=
ect

On the accommodation page i want to load automatically the date in range in the calendar b

[2020-06-26 16:12] matiasperrone commented on #210
This seems more like a Vue issue or question.
Check `$route.query.check_out` and  `$route.query.check_in`.

You must have VueRouter installed in order to do that

[2020-06-26 16:12] #210 closed

[2020-06-26 16:58] matiasperrone commented on #209
The props that you are looking for are "startingDateValue" and "endingDateValue"

[2020-06-30 12:05] remcoz commented on #210
thanks !

[2020-06-30 12:11] remcoz opened #212 "Multiple options/props per calendar for minimalStay and checkinDay"
Hi,

We have accommodation X.  This accommodation has this rules.

[code]

So we have per date range different minimalstay and checkin day (saterday or any).

![multiple](https://user-images.githubusercontent.com/33696/86124793-f8067b80-badb-11ea-9211-6af591ebaf19.jpg)

Is this possible in the plugin?

best, remco

[2020-07-01 10:36] mariusa opened #213 "Vue 3 compatibility"
### Description

Would like to use this component in a Vue 3 project generated by https://github.com/vitejs/vite

Note, this is just about being usable, not porting the component to Vue 3 composition APIs.

### Steps to Reproduce

[code]
Add component to App.vue as noted in https://github.com/krystalcampioni/vue-hotel-datepicker

**Expected behavior:** [What you expected to happen]

component to w

[2020-07-06 16:42] matiasperrone commented on #81
Hi! this I think more for v4.1 (v4.0 is right around the corner).
v4 will have a complete rewrite in html and many bugfixes. I am waiting a PR anytime...

[2020-07-06 16:42] matiasperrone commented on #81
Also I didn't have the time.

[2020-07-13 18:19] matiasperrone commented on #159
@krystalcampioni I think that vue-range-datepicker should be a good idea? What do you think?

[2020-07-13 18:33] krystalcampioni commented on #159
The project was named `vue-hotel-datepicker` just because that was the original usage of the library. Also, `vue-range-datepicker` is already taken, as most of the _good names_ 😅

I think it might make sense to keep this one as `vue-hotel-datepicker` since it does have a lot of logic implemented to handle checkin/checkout, blocking dates etc. We could create a simpler version of it with fewer feat

[2020-07-25 05:38] #205 closed

[2020-07-26 17:32] mariusa commented on #206
ping

[2020-07-26 23:51] matiasperrone commented on #206
I haven't had the time yet, you can, if you want send a PR, maybe?

[2020-07-27 05:33] matiasperrone commented on #192
@joffreyBerrier Any news?

[2020-08-01 12:02] mariusa commented on #213
.

[2020-08-03 14:25] matiasperrone commented on #212
Is not possible in the plugin, but you can use computed properties in order to solve this particular issue.

[2020-08-03 14:25] #212 closed

[2020-08-13 18:15] akation opened #217 "DisableDates not working"
### Description

Hi, I have to disable more or less 200 dates from the calendar, I'm trying to use the disableDates prop/option but it is not working for me.

### Code sample
`<HotelDatePicker
                  :starting-date-value="temporal_check_in"
                  :ending-date-value="temporal_check_out"
                  :disabledDates="disableDatesArray"
                  :key="disableDatesA

[2020-08-13 18:37] akation commented on #217
ISSUE UPDATE:

I think it is working, but there's a bug. It is disabling the day before the date I provided.

[2020-08-14 14:45] akation commented on #217
UPDATE:

I just convert the string date to a moment object and it is working.

[2020-08-14 14:45] #217 closed

[2020-08-26 12:12] ShapesGraphicStudio commented on #206
Hi, has this been fixed?
I seem to have the same issue.

[2020-08-26 12:31] ShapesGraphicStudio opened #218 "Feature Request : Dynamic minNights based on selected month"
Hi,
Would it be possible to have dynamic MinNights depending on the selected month?

[2020-08-26 22:29] matiasperrone commented on #206
Not yet sorry

[2020-08-27 04:16] matiasperrone commented on #192
The changes were incorporated in the v4.0.0-dev https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v4.0.0-dev

[2020-08-27 04:16] matiasperrone commented on #192
Comments?

[2020-08-27 04:19] matiasperrone commented on #159
There is not a "https://www.npmjs.com/package/vue-range-datepicker"

[2020-08-27 04:42] matiasperrone commented on #206
Solved in v4.0.0-beta.2

[2020-08-27 04:42] #206 closed

[2020-08-27 04:43] matiasperrone commented on #218
Some form of this is implemented in v4.0.0-beta.2

[2020-08-27 04:43] #218 closed

[2020-08-27 04:43] matiasperrone commented on #213
Check v4.0.0-beta.2

[2020-08-27 04:44] matiasperrone commented on #201
Check v4.0.0-beta.2

[2020-08-27 04:44] #201 closed

[2020-08-27 04:44] matiasperrone commented on #198
Solved in v4.0.0-beta.2

[2020-08-27 04:44] #198 closed

[2020-08-27 04:46] matiasperrone commented on #188
Check v4.0.0-beta.2

[2020-08-27 04:46] #188 closed

[2020-08-27 04:47] matiasperrone commented on #171
Check out v4.0.0-beta.2

[2020-08-27 04:47] #171 closed

[2020-08-27 04:48] matiasperrone commented on #161
There are some more in v4.0.0-beta.2, probably in the RC I am going to add all the possible events.

[2020-08-27 04:48] matiasperrone commented on #29
Solved in v4.0.0-beta.2

[2020-08-27 04:48] #29 closed

[2020-08-27 04:49] matiasperrone commented on #11
Check if v4.0.0-beta.2 solves your problem now.

[2020-08-27 04:51] matiasperrone commented on #177
I am going to merge this issue with  #161

[2020-08-27 04:51] #177 closed

[2020-08-27 04:51] matiasperrone commented on #97
Solved in v4.0.0-beta.2

[2020-08-27 04:51] #97 closed

[2020-08-27 04:52] matiasperrone commented on #92
Solved in v4.0.0-beta.2

[2020-08-27 04:52] #92 closed

[2020-08-27 04:53] matiasperrone commented on #99
Check v4.0.0-beta.2

[2020-08-27 04:55] matiasperrone commented on #69
Merged with #74

[2020-08-27 04:55] #69 closed

[2020-08-27 04:56] mariusa commented on #213
Would you please publish to npm so we can start using it?
https://www.npmjs.com/package/vue-hotel-datepicker

Also, the README here points to another repo with an old version, very confusing:
https://github.com/krystalcampioni/vue-hotel-datepicker/tree/v4.0.0-dev

[2020-08-27 04:56] matiasperrone commented on #72
Sorry but I didn't have the time to address this issue. Seems important.

[2020-08-27 04:58] matiasperrone commented on #72
Check the new v4.0.0-beta.2

[2020-08-27 06:31] mariusa commented on #192
Hi! Excited to try it out!

Please update the README (has old info), the demo & publish v4 to npm.

[2020-08-28 15:41] superbiche commented on #192
Would love to see a NPM published version for v4 dev too

[2020-08-28 19:12] matiasperrone commented on #192
I am having some issues with the build 😅

[2020-08-31 11:09] superbiche commented on #192
@matiasperrone maybe we can help?

[2020-08-31 21:14] matiasperrone commented on #192
Can you download and try to run "build". I tried with pnpm (is the one that I always use) and it didn't work, I did not have the time to continue so...

[2020-08-31 21:37] superbiche commented on #192
There you are: https://github.com/krystalcampioni/vue-hotel-datepicker/pull/220

[2020-08-31 21:40] matiasperrone commented on #192
Thanks!

[2020-09-01 09:50] superbiche commented on #192
Any ETA for the merge + package release ?
I can also help. Feel free to add me as a contributor, this package is the only one that answers correctly one of my biggest client's requirements, so I'll probably manage to free some time to help maintaining/enhancing it

[2020-09-01 16:13] matiasperrone commented on #192
I uploaded to npm `vue-hotel-datepicker@4.0.0-beta.4`

[2020-09-01 20:06] mariusa commented on #192
The build doesn't work, when running vue3 I get
`GET https://localhost:3000/@modules/vue-hotel-datepicker/dist/vueHotelDatepicker.common.js net::ERR_ABORTED 404 (Not Found)`

[package.json.txt](https://github.com/krystalcampioni/vue-hotel-datepicker/files/5158529/package.json.txt)

[App.vue.txt](https://github.com/krystalcampioni/vue-hotel-datepicker/files/5158530/App.vue.txt)

[2020-09-03 10:47] superbiche commented on #192
The build is still wrong: the package.json has `"main": "dist/vueHotelDatepicker.common.js",` but there's no such file when using `vue-hotel-datepicker@4.0.0-beta.4`.
![image](https://user-images.githubusercontent.com/2478146/92105655-6ec53b00-ede3-11ea-8973-aad7186cf750.png)

Also when using with Nuxt, I get a `window is not defined` error, forcing me to use `<client-only>` to wrap the component.

[2020-09-03 11:55] superbiche commented on #192
Also seems you've used `pnpm build` instead of `pnpm build-package`

[2020-09-03 12:52] mariusa commented on #192
Thanks @superbiche !

@matiasperrone please do a simple test after publishing to npm, to ensure your package works. You can use the project I uploaded, just run
[code]

[2020-09-03 13:19] superbiche commented on #192
Added a few commits to fix issues & docs regarding i18n. I guess there's more to fix, will keep you posted (and update the PR comments accordingly).

[2020-09-03 13:36] superbiche commented on #192
@joffreyBerrier there are a lot of new, undocumented props you added. Could you make a PR with the updated docs please?

[2020-09-03 19:53] matiasperrone commented on #192
I rebuilded the package to beta 6, and yes there are some issues.
I do not have too much free time in my hands so I will be delivering fast builds, but maybe we can improve the testing, so I don't have to test too much, and you are more that welcome to help in any way you can.

Please realize that I do this in my own time. Be patient.

[2020-09-03 19:56] matiasperrone commented on #192
@superbiche Michel check the beta 6. I hope it works!

[2020-09-03 20:41] mariusa commented on #192
Ok, now there are no errors, but nothing shows where the datepickers should be.
![Screenshot from 2020-09-03 23-38-41](https://user-images.githubusercontent.com/1283842/92164808-a44b4200-ee3e-11ea-9d3b-272881adde80.png)

I'll help with the detailed testing. Just asking that you please do a basic check of the package you publish (use the project I attached, or simply init a new project).
Do the dat

[2020-09-04 08:58] superbiche commented on #192
@mariusa my PR fixes all issues so once the 2 discussions we're having with @matiasperrone are resolved, I guess he can publish a new build (using my fork I can render and use the datepicker).

@matiasperrone I'm aware builds and fixes of this package rely heavily on your free time, that's why I'm also offering to help as a co-maintainer. I have an important client in the hotel business for whom w

[2020-09-07 16:33] matiasperrone commented on #192
@superbiche I agree, the more the merrier! I am not the "owner" so you have to apply at #67 and ask to @krystalcampioni, she is the owner 👩‍💻 and she has the power 😁, anyway, I wrote her an email, so she can add you as a "Collaborator".

@mariusa sorry about that, can you provide with a more clear example? `npm run dev` is not a script in this package.

I am not longer maintain the v3 version due

[2020-09-07 16:37] superbiche commented on #192
@matiasperrone thanks a lot for contacting the owner already! That's great news, I already started working on my fork and cleaning up some stuff in the v4 dev version, will publish a PR later this week with a few enhancements, mostly CSS related.

Anyway, thanks a lot and see you around soon

[2020-09-07 16:38] matiasperrone commented on #192
Sure thanks!

[2020-09-07 18:21] matiasperrone commented on #192
Ok. Solved (beta 8).
But the problem remains when build the package with `npm` instead of `pnpm`

[2020-09-07 18:21] matiasperrone commented on #192
Not to the users but to us

[2020-09-07 18:37] matiasperrone commented on #192
@mariusa there you go! check out the usage.

[2020-09-07 20:46] mariusa commented on #192
Thanks!

It still doesn't show for me. Using vue v3, since #213 was closed as done.
I just created a vite project https://github.com/vitejs/vite
 and added "vue-hotel-datepicker": "4.0.0-beta.8"

If vue3 support isn't done, please re-open #213 and I'll test with vue2 after @superbiche 's upcoming PR is merged.

[code]

[2020-09-08 16:14] matiasperrone commented on #192
I didn't understand did it work for you?

[2020-09-08 16:17] guillaumebriday opened #223 "Selected and disabled date are not showing up in v2.x"
### Description

When dates are selected but in a disabled range there are just disabled for the user.

For instance,

When there is no disabled dates:
![Screenshot 2020-09-08 at 18 03 33](https://user-images.githubusercontent.com/8252238/92501297-a591bb80-f1fe-11ea-8f22-1f5b4af5e61a.png)

When only saturdays are enabled:
![Screenshot 2020-09-08 at 18 03 46](https://user-images.githubusercontent.c

[2020-09-08 20:42] matiasperrone commented on #223
Are you using the v4 beta version?

[2020-09-08 21:16] guillaumebriday commented on #223
Nope still 2.7.8 because can't upgrade to 3.x https://github.com/krystalcampioni/vue-hotel-datepicker/issues/206 and 4 is in beta

[2020-09-08 21:23] mariusa commented on #192
It doesn't work with vue3 (#213 )

I tested with vue2 and I get these:
![Screenshot from 2020-09-09 00-21-08](https://user-images.githubusercontent.com/1283842/92528982-6bdaa800-f232-11ea-9834-eabd8bfe6f9e.png)
![Screenshot from 2020-09-09 00-21-16](https://user-images.githubusercontent.com/1283842/92528984-6c733e80-f232-11ea-9a5f-bb8f667cbf5a.png)

Please update the demo at https://krystalcampion

[2020-09-09 13:42] matiasperrone commented on #223
I'll try today to update the 3.x version, but thw 2.x it is old, and very deprecated, tons of security issues.

[2020-09-09 13:50] matiasperrone commented on #192
You have to import the CSS o SCSS.

[2020-09-09 13:51] matiasperrone commented on #213
I rewrite the Readme so... check that out

[2020-09-09 13:55] matiasperrone commented on #67
@superbiche you are a Collaborator now!

[2020-09-09 14:55] mariusa opened #225 "[4.0.0-beta.8] TypeError: Cannot read property 'minimumRequiredPeriod' of undefined"
### Description
When selecting dates, there's an error in console:

[code]

[2020-09-09 15:05] mariusa opened #226 "[4.x] .datepicker__month-day--last-day-selected CSS isn't consistent with .datepicker__month-day--selected"
These 2 use `background: HEX`
[code]

but this uses `background-color: RGB`
[code]

Please use only 1 way, to be consistent.

* background-color vs background
* HEX vs RGB

Hex codes can have opacity too: https://alligator.io/css/hex-code-colors-alpha-values/#:~:text=Comparing%20Hex%20Code%2BAlpha%20Format%20to%20RGBA&text=255%2C%20256).,opaque%20the%20color%20will%20be.

[2020-09-09 15:30] guillaumebriday commented on #223
Ok I will try to upgrade to the latest stable soon!

[2020-09-16 14:25] danMoses10 opened #228 "css file not loading from .vue file"
my single file component contains the vue-hotel-datepicker, I can initialise the datepicker, but the css doesn't take effect.

html:
[code]

**Expected behavior: datepicker to load with css styling

**Actual behavior:**datepicker loads with no styling

### Datepicker Version: ^4.0.0-beta.9

[code]

[2020-09-16 18:52] matiasperrone commented on #228
@danMoses10 Hi, seems that your HTML is a little bit off.

Try this out:

[code]

[2020-09-16 18:56] matiasperrone commented on #225
mariusa thanks for the feedbak, can you provide me with an example, I am not able to reproduce the error.

I am using it like this:
[code]

[2020-09-16 18:59] matiasperrone commented on #213
Please check the v4 version, we are deprecating the v3 version.

[2020-09-16 19:00] matiasperrone commented on #67
welcome @superbiche !

[2020-09-16 19:00] #67 closed

[2020-09-16 19:02] mariusa commented on #213
V4 version doesn't work with vue3.  https://github.com/vuejs/vue-next

[2020-09-17 04:49] mariusa commented on #225
Here's how to replicate:

[code]

[2020-09-17 07:15] danMoses10 commented on #228
Hi, I have tried this but it is still not loading the css, I am having to copy the scss files to my local folder for it to work, which I would rather not do

[2020-09-17 15:12] matiasperrone commented on #225
The problem with the data function, it can not be an arrow function, in this line:

[code]
It should be:

[code]

[2020-09-17 15:29] mariusa commented on #225
Thanks,

I changed to that and still getting the error.

[2020-09-17 15:30] mariusa commented on #225
As you can see here, the change makes no difference in this example, as `this` isn't used inside `data`:
https://stackoverflow.com/questions/48980865/vue-js-difference-of-data-return-vs-data

[2020-09-17 15:36] superbiche commented on #225
@mariusa @matiasperrone this is due to updates in the `i18n` object in the v4.0 rewrite that wasn't reflected in the docs:
[code]
I'll push a PR this weekend to update the docs accordingly.

[2020-09-17 15:40] superbiche commented on #226
I'm doing a full rewrite of the Sass code to :

1. Make most of the values bound to variables
2. Extract the variables in a separate file with `!default` values, so one can easily define his own vars *before* including the stylesheet in order to customize the appearance.

This should land this weekend or the next one. Big delivery for a client this week so I'm pretty busy.

[2020-09-17 15:41] superbiche commented on #228
@danMoses10 please provide a tarball or codesandbox of your reproducible issue and I'll have a look into it.

[2020-09-17 15:43] superbiche commented on #223
Closing to focus efforts towards v4.0

[2020-09-17 15:43] #223 closed

[2020-09-17 15:44] danMoses10 commented on #228
@superbiche it's ok man thanks, I moved onto a different datepicker

[2020-09-17 15:47] superbiche commented on #213
I think what's best would be:
* Make the minimum adjustments for v4.y to be compatible with Vue 3 (not a priority, so probably in a minor version, as Vue 3 isn't ready nor is the ecosystem)
* Plan a full rewrite for an upcoming major version where we could use Composition API and make the components way more maintainable.

If @matiasperrone agrees I'll reopen this one and we'll work on it as soon

[2020-09-17 15:53] superbiche commented on #225
I forgot I already PR'd that, if you check the v4.0.0-dev branch the README is up to date!

[2020-09-17 15:53] #225 closed

[2020-09-17 16:22] matiasperrone commented on #225
Ok Thanks @superbiche, still you shouldn't use created, You should use data instead:

Here's how:

[code]

I omitted the i18n part, as it must be done according to the documentation.
I hope it works now.

[2020-09-17 16:30] matiasperrone commented on #225
@mariusa Check the Vue docs! https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks

[2020-09-17 16:57] mariusa commented on #225
Thank you both! Error solved by adding new properties documented by @superbiche

We can't as the localized data is loaded dynamically. It works fine now.

[2020-09-17 20:30] matiasperrone commented on #228
@danMoses10 may you anyway provide us anyway with your example, to look for clues? maybe there are others with the same issue.

[2020-09-19 04:27] matiasperrone commented on #213
Vue 3 just landed... 😅

[2020-09-21 10:32] superbiche commented on #213
Yup, saw that. They are playing with my nerves :sweat_smile: . I'll try to give it some time next week

[2020-09-21 15:13] matiasperrone commented on #213
@mariusa Thank you very much for the feedback!! It's very important!!

[2020-09-23 05:53] mariusa commented on #192
Would you please close this issue?
v4 works ok, guess we're waiting for
https://github.com/krystalcampioni/vue-hotel-datepicker/issues/226#issuecomment-694319942
to publish the final 4.0.0 ?

[2020-09-23 05:55] mariusa commented on #81
Same here in Romania. I never heard people saying "going on week 37" -- huh?

[2020-09-23 05:57] mariusa commented on #228
Since no followup, I guess this can be closed.
This works for me:
[code]

[2020-09-23 14:06] #228 closed

[2020-09-23 14:07] matiasperrone commented on #213
Can we give v3 support on 4.1? and close this issue?

[2020-09-23 14:09] matiasperrone commented on #192
@mariusa if you have the time, I'd like to check all this "feature requests"
https://github.com/krystalcampioni/vue-hotel-datepicker/milestone/2

So we can release the v4 and concentrate on v4.1 with Vue 3 support.

[2020-09-23 14:28] mariusa commented on #192
Will do. Would please grant me rights to assign/remove milestones to issues?

[2020-09-23 14:29] mariusa commented on #213
That's a good plan.

After it's done :)

[2020-09-23 18:20] matiasperrone commented on #192
I don't think that I have that "power". It is @krystalcampioni 's power!

[2020-09-24 18:17] matiasperrone commented on #81
Same here in Argentina, but there are a number of countries.

[2020-09-24 18:19] matiasperrone commented on #226
@superbiche with your CSS we will launch the official v4 production release.

[2020-09-25 12:47] superbiche commented on #226
This will be shipped this weekend :+1:

[2020-09-25 16:22] matiasperrone commented on #199
Is available in v4!

[2020-09-25 16:22] #199 closed

[2020-09-25 16:23] matiasperrone commented on #161
try v4 please!

[2020-09-25 16:23] #161 closed

[2020-09-25 16:23] matiasperrone commented on #128
Done in v4

[2020-09-25 16:23] #128 closed

[2020-09-25 16:26] matiasperrone commented on #91
@gareth-ib please try the v4 version. Is in beta but soon to be realeased

[2020-09-25 16:26] #91 closed

[2020-09-25 16:27] matiasperrone commented on #74
This is solved in v4.0.0-beta.1. Please try it!

[2020-09-25 16:27] #74 closed

[2020-09-25 16:29] matiasperrone commented on #72
@francescomugnai I've working on this please be patient, I think that some rewrites must be done first.

[2020-09-25 16:29] #72 closed

[2020-09-25 16:29] #11 closed

[2020-10-05 21:40] MateoArgalle opened #229 "disabledDates doesn't work"
I am trying to disable the holidays in my country but it does not work, it does not have the same effect as disabling the days that is exactly what I need

![image](https://user-images.githubusercontent.com/58223373/95135033-769d3580-0729-11eb-972a-970e6010173d.png)

[2020-10-06 14:17] matiasperrone commented on #229
@MateoArgalle you should provide us with the version, an example on how to reproduce, and any other detail that you think may help.
Probably you should follow the template.

[2020-10-07 08:11] superbiche commented on #226
Fixed in #230 - PR is still a draft but this one is OK

[2020-10-08 09:16] Ricro opened #231 "Cannot launch project"
### Description

I cannot launch the development server due to an error related to @vue/cli-service.

[code]

### Steps to Reproduce

1. git clone git@github.com:krystalcampioni/vue-hotel-datepicker.git
2. yarn install
3. yarn serve

**Expected behavior:** Development server launching and start coding.

**Actual behavior:** Error when launching dev server and can't code :(

I also tried with npm,

[2020-10-08 18:16] superbiche commented on #231
Hi @Ricro ,
It seems you have cloned the `main` branch which is not maintained anymore. We're launching v4.0.0 very soon and focus all efforts towards this release.

Could you try to `git checkout v4.0.0-dev` and re-run `yarn` and `yarn serve` ? It should be working correctly then.

Let me know how it goes.

[2020-10-08 19:47] Ricro commented on #231
Hi @superbiche and thank you for your fast reply.

l cloned the main branch indeed, and the dev server works like a charm on v4.0.0-dev branch.

I also love the new features you are working on. Keep it up!

[2020-10-08 19:47] #231 closed

[2020-10-09 15:15] matiasperrone commented on #229
Closed due lack of response.

[2020-10-09 15:15] #229 closed

[2020-10-09 20:37] matiasperrone opened #232 "showYear should be true by default."
I think that `showYear` should be true by default.... makes sense.

What do you think @superbiche, @krystalcampioni ?

[2020-10-09 20:38] matiasperrone commented on #226
@mariusa I think it will help you too.

[2020-10-11 14:19] krystalcampioni commented on #232
Sure, that makes sense! Let's just make sure to release this as breaking change 👍🏽

[2020-10-11 14:57] superbiche commented on #232
@matiasperrone yup, makes sense. Let's do this before releasing v4.0.0, we can still add some breaking changes

[2020-10-12 14:42] matiasperrone commented on #232
Sure... what other breaking changes there will be?

[2020-10-12 14:43] matiasperrone commented on #232
I'll go with "disabled week days", now they are harcoded with the traslation as names... we could use numbers.

[2020-10-12 17:10] superbiche commented on #232
I agree. These should be integers or US day names.
I'd also use objects for the day/month names instead of an array, as it's a pain when coupling with Vue-i18n and a translation system (we use Weblate).

[2020-10-13 10:46] sloopsight opened #233 ""value" is never mutated (v-model)"
### Description

BUG

After selecting checking and checkout v-model not setting date to value

### Code sample
[code]

[2020-10-13 16:02] matiasperrone commented on #233
@sloopsight check that "value" seems to be undefined, must be declared in the "data" section or within the mixin.

[2020-10-14 09:45] remcoz opened #234 "mix and match the props/options in different months."
Hi,

we want  mix and match the props/options in different months.  We have accommodations that have in the summer months Ranges of 7, 10 or 14 days and checkin only on saturdays and in the spring they have  minimum 3 nights and checkin all days.

Is this possible ?

best...remco

[2020-10-14 22:00] superbiche commented on #234
Hi @remcoz ,
I don't this that's possible out of the box, and while this would be a relevant feature, it is not trivial to implement.
What *could* be done more easily is either emit events when changing month visibility, or bind a model to the current month(s) visible.

Anyway it's not something that can be done right now but I'm tagging it as it's definitely an interesting use case.

We'll let yo

[2020-10-14 22:26] matiasperrone commented on #234
I do was thinking in implement a better events emit, because today in v4 still there are some limitations.

[2020-10-14 22:27] matiasperrone commented on #233
I'll close this issue because we didn't get any feedback.

[2020-10-14 23:11] matiasperrone commented on #226
merged!

[2020-10-14 23:11] #226 closed

[2020-10-14 23:26] superbiche commented on #234
Well that's great, as you say, the events are pretty limited for now. This could allow working around some custom behaviors, and leave some room to discuss more complex changes like the one @remcoz needs - I *may* need this kind of feature for one of my clients sooner or later, so maybe I'll work on it when v4 has been released.

[2020-10-14 23:35] superbiche commented on #232
@matiasperrone I'm creating an issue for the last steps towards v4.0.0. Could you either edit your issue or create an new one with these items (add if I'm missing some) :
- [ ] `showYear` should default to `true`
- [ ] update docs accordingly

I'm creating issues for the rest

[2020-10-14 23:38] matiasperrone commented on #234
I was thinking on v5 with Vue v3 compatibility.
Some rewriting has to be done to better control some events.

[2020-10-14 23:42] matiasperrone commented on #232
It is correct, the first is now corrected. I have found a "bug" value is never mutated... :(

[2020-10-14 23:53] superbiche opened #235 "Refactor disabledDaysOfWeek"
As @matiasperrone suggested in #232 , `disabledDaysOfWeek` are currently based on the translated day name, which doesn't make sense and is pretty unstable stuff.

Suggestions (comment if you don't agree with some):
- [ ] use integers for week days, like in so so many libraries: `0` is Sunday, `1` is Monday, and so on
- [ ] rename `disabledDaysOfWeek` to `disabledWeekDays`: shorter and more idiomat

[2020-10-14 23:54] superbiche commented on #232
@matiasperrone damn... Let's make an issue of it if you will

[2020-10-15 00:04] superbiche opened #236 "Use objects instead of arrays in day-names and month-names"
I'm using [Vue-i18n](https://kazupon.github.io/vue-i18n/) and [Weblate](https://weblate.org/fr/) for our translation workflow.

Unfortunately, Weblate, but many other tools like [dot-object](https://www.npmjs.com/package/dot-object) or even [deepmerge](https://www.npmjs.com/package/deepmerge) can have a hard time handling arrays.

We can get to the following common sense:
* `day-names` can be an o

[2020-10-15 00:10] superbiche commented on #234
@matiasperrone I added a v4.x milestone for stuff that *could* make it during v4 but maybe *won't*. But I think this should be splitted in two issues:
* One for the events, v4.x or v5 as you say
* One for customizing props depending on the month, without any milestone.

[2020-10-15 00:11] superbiche commented on #236
I've added this to v4 but maybe v5 huh, this may be too much work and delay v4 without a good enough reason

[2020-10-15 00:15] superbiche opened #237 "v4.0.0"
Hey folks,

I guess we shouldn't need more than this issue to track and release what's left for v4.0.0 to be released, and it will make it easier to remind what we wanted to do before releasing it.

So far we have:
## Must have
- [ ] showYear should be true by default #232
- [ ] Use objects instead of arrays in day-names and month-names #236 *(maybe only in v5)
- [ ] Refactor disabledDaysOfWeek #2

[2020-10-15 19:39] mariusa commented on #235
First, thanks for working on this!

I vote for this variant, to avoid the extra work. Maybe in future we'll see some other options to handle this, eg
sundayToSunday -> minWeekDay="0", maxWeekDay="0"
(I can't find docs on what exactly sundayToSunday does, only the tooltip)

[2020-10-15 19:43] superbiche opened #239 "Doc: rewrite props to use a table"
We have a lot of props right now, and the README format is hard to read and maintain.

Using a table would make it more compact and allow us to add props in relevant categories as they continue to grow.

[2020-10-15 19:49] matiasperrone commented on #233
@sloopsight sorry, my mistake. We will be fixing this issue.

[2020-10-15 20:01] krystalcampioni commented on #235
Thanks for looking into this!
My only concern with this is that in some countries, Sunday is not the first day of the week, Monday is. I can see this becoming a source of confusion specially if we start using cryptic names as `0to0`. Maybe we should keep long week names but differentiate what is a translated string, and what is an identifier for a week day?

for example:
[code]

[2020-10-15 20:08] mariusa commented on #235
Mon is 1st day of week for me too. But his has been solved by dayjs, momentjs... As you said, Sun = 0, Mon = 1.

[2020-10-15 20:09] superbiche commented on #237
Closing this in favor of https://github.com/krystalcampioni/vue-hotel-datepicker/projects/5

[2020-10-15 20:09] #237 closed

[2020-10-15 20:16] superbiche opened #240 "API : Freeze the current API, only allow additions for v4 & v5"
After having a great discussion with @matiasperrone , we decided the following:

* v4.0.0 must be released with a documented API - props & events
* v5.0.0 will be based on a v4 backward-compatible API
* **only absolutely necessary breaking changes will be added between v4.0 and v5.0**

What we need to do for this:
- [x] Make sure every prop & event is aknowledged and documented
- [ ] Write tests t

[2020-11-02 14:51] matiasperrone commented on #235
We could use constants as well so... it could be strings or integers.

Be aware that MomentJS has been [deprecated](https://momentjs.com/docs/#/-project-status/) and the same folks created [Luxon](https://moment.github.io/luxon/).

I also would like to change `fecha` package to this new one, because the community is bigger in `luxon` or even `moment`.

[2020-11-02 14:55] superbiche commented on #235
I use Luxon, it's cool but a bit heavy, adds quite the load to the final bundle. Dayjs is much more lightweight, I'm switching a huge project from Luxon to Dayjs and it's really cool.

[2020-11-02 15:15] krystalcampioni commented on #235
As long as we keep the reference to a the english name of the day, I'm fine either way. 👍🏽

If we were to move away from fecha, we should consider https://date-fns.org/.
It has a huge community, its lightweight and well maintained.

[2020-11-02 15:50] mariusa commented on #235
+1 for dayjs or date-fns

[2020-11-06 17:59] matiasperrone commented on #235
So Dayjs seems easier to learn but date-fns seems more powerful, doesn't?

[2020-11-06 18:07] matiasperrone commented on #235
https://www.npmtrends.com/date-fns-vs-dayjs-vs-luxon-vs-moment
dayjs has less issues... although date-fns has the more downloads.... way more... 8.17M (date-fns) vs 2.92 (dayjs)...

I'll go with date-fns, the only thing is that it has more more issues and it's quite bigger.

[2020-11-06 18:19] matiasperrone commented on #235
A closer look to the issues and the docs, I prefer dayjs the repository is "cleaner" and I think @superbiche and I are familiar with Moment so the change would be pretty easy.

[2020-11-09 16:53] nathanjhastings opened #242 "Emit an event when next month is rendered"
We get our availability and pricing data from an API and need to push this to the calendar based on which month the user is viewing.

To do this we have added an event when the next month has been rendered.

PR on it's way!

[2020-11-14 14:47] Merton commented on #228
This work around of importing the CSS directly works, but is there clarity on why this happens? Without the CSS import all the functionality / logic works but simply no styling.
For context I am using Nuxt.js (v2.14.6), and importing it the standard way as per your documentation.

Cheers

[2020-11-14 15:33] Merton opened #244 "How to pre populate check in/out values"
### Description
If the parent or vuex store has a previously entered values for check in and checkout, and I want to display that in the inputs / selector display, is this possible?
I was expecting there to be a prop for check in and checkout, then on update I can update the store / parent.

Cheers

[2020-11-16 15:23] matiasperrone commented on #228
This is not a workaround, is the best way that you may restyle it without interference.

[2020-11-16 15:25] matiasperrone commented on #244
I don know if a understand, do you mean like the `startingDateValue` and `endingDateValue`?...

[2020-11-16 18:18] Merton commented on #244
Yes absolutely I am being silly, thank you. I misunderstood that somehow..apologies! Really like the component 😄

[2020-11-16 18:18] #244 closed

[2020-11-19 15:46] bzd2000 opened #245 "Question/feature: How to change default styling?"
Hello,

I really like your component.
I wonder how we can change the default styling (color, button styling etc)

thx,
Filip.

[2020-11-19 16:37] bzd2000 commented on #245
In fact I would like to let it match with the look and feel of quasar

[2020-11-21 22:24] matiasperrone commented on #245
You should try v4 (beta) then modify the scss, and then include your own.

[2020-11-21 22:24] #245 closed

[2020-12-11 03:35] maghffu opened #250 "CSS Not loaded"
### Description

Hi, I already install vue-hotel-datepicker, but when i import the plugin, css wasn't loaded

### Code sample
<template>
  <HotelDatePicker />
</template>
<script>
import HotelDatePicker from "vue-hotel-datepicker";
export default {
  components: {
    HotelDatePicker,
  },
};
</script>

### Steps to Reproduce

1. npm install vue-hotel-datepicker --save
2. Create file and fill with

[2020-12-11 03:40] #250 closed

[2020-12-11 16:32] matiasperrone commented on #250
Hi! did you solve the issue? Remember to import the css file :D

[2020-12-13 20:33] joelkrause opened #251 "Disable selecting a date right after block of "disabled" dates"
We have an interesting issue a client has faced on their website using this. We're passing in an array of disabled dates, and they would like the ability to prevent a customer from selecting the date right after that block? Is there any way to achieve this?

[2020-12-14 22:39] matiasperrone commented on #251
You may add a day to each block... or may be I did not understand the problem right

[2020-12-15 01:46] yashiroiori opened #252 "Disabled days problem"
Hi.
How I make to disable all day??
The events get from Google Calendar

In image set disabled days: 2021-01-02, 2021-01-03, 2021-01-04 but in image only block day: 2021-01-02 and it's available to select 3 and 4 day but it's not correct can't choose day 3 and 4

![image](https://user-images.githubusercontent.com/17031855/102157329-e5db8800-3e44-11eb-9a7e-c17725b2797c.png)

If set true halfDay blo

[2020-12-15 13:57] matiasperrone commented on #252
What version are you using?
- vue-hotel-datepicker Package
- SO
- Browser

Please provide me with a working example and indicate your local time zone.

[2020-12-15 13:58] matiasperrone commented on #251
This seems to be a duplicate of #252 please continue in that issue

[2020-12-15 13:58] #251 closed

[2020-12-15 14:01] matiasperrone commented on #242
Thanks!
The PR is for v3 or v4?

[2020-12-15 14:27] nathanjhastings commented on #242
The PR was done on master but happy do this on a v4 branch. I am actually using this on a v4 branch in production.

[2020-12-15 14:47] matiasperrone commented on #242
@nathanjhastings please do.
I am sorry, but v3 is frozen now, v4 is almost RC, but a couple of breaking changes will happen soon, check the other issues.
I'll be working in this in the next few days for v4 final release.

I'll try not to do the BC that I was talking about, but a couple of improvements will be implemented.

[2020-12-15 14:50] yashiroiori commented on #252
Chrome

[2020-12-15 14:55] matiasperrone commented on #252
And the versions of those?
Which version of this package are you using?

[2020-12-15 14:57] matiasperrone commented on #252
Ahhh and don't forget to tell me you local time zone.

[2020-12-15 15:04] yashiroiori commented on #252
Version: "vue-hotel-datepicker": "^4.0.0-beta.9"
Time zone: America/Mexico_City

Another thing it's in this case, when set :firstDayOfWeek="1" the days move but at the top days not move, for example Thursday it's Friday because Friday I set require min 2 nights

![image](https://user-images.githubusercontent.com/17031855/102231972-34743b00-3eb4-11eb-941b-d6c33bdaa6e5.png)

[2020-12-15 16:03] matiasperrone commented on #252
Thanks!

Can you provide me with an Vue example of the code?
Maybe an unique Vue component file with your configuration hardcoded in `data` in order to be able to reproduce it?

[2020-12-15 16:28] yashiroiori commented on #252
Component:
<HotelDatePicker
    :i18n="i18n"
    :firstDayOfWeek="1"
    :showYear="true"
    :showPrice="true"
    :halfDay="false"
    :periodDates="periodDates"
    :disabledDates="disabledDates"
    :lastDateAvailable="new Date(moment().add(6, 'M').format('YYYY-MM-DD'))"
/>

disabledDates:Array[3]
0:"2021-01-02"
1:"2021-01-03"
2:"2021-01-04"

[2020-12-18 08:52] guillaumebriday opened #254 "Could you please release 4.0.0-beta.10 on npm?"
### Description

Hey 👋

I see a tag `v4.0.0-beta.10` on Github but it does not seem to be release on NPM? https://www.npmjs.com/package/vue-hotel-datepicker

I need it to try something, could you please build and release it?

Thanks 🙏

[2020-12-20 07:43] nathanjhastings opened #255 "Dates become disabled when toggling month"
### Description

Issue seems to only occur when you have a picker that is always visible, has a single day selection and starts with a default value (see code sample). Our use case is that the user may select the date, progress through the booking process then go back to change the date.

### Code sample

[code]

**Expected behavior:**

Picker defaults to startingDateValue and user is able to sele

[2020-12-21 21:07] yashiroiori commented on #252
Find into the demo the same bug

Url demo https://github.com/krystalcampioni/vue-hotel-datepicker/tree/v4.0.0-dev/src

Without halfDay
![image](https://user-images.githubusercontent.com/17031855/102822122-02744480-439e-11eb-9cda-130023f1efa3.png)

With halfDay
![image](https://user-images.githubusercontent.com/17031855/102822236-47987680-439e-11eb-96d8-a91bf190f1fd.png)

![image](https://user-imag

[2020-12-21 22:09] matiasperrone commented on #254
Done!

[2020-12-21 22:09] #254 closed

[2020-12-21 22:09] matiasperrone commented on #255
May check the issue in beta 10?

[2020-12-21 22:14] guillaumebriday commented on #254
Thanks!! @matiasperrone

[2020-12-22 20:53] matiasperrone commented on #242
done in #253

[2020-12-22 20:53] #242 closed

[2020-12-22 21:57] matiasperrone commented on #239
Done!

[2020-12-22 21:57] #239 closed

[2020-12-22 22:06] matiasperrone commented on #232
Solve in commit https://github.com/krystalcampioni/vue-hotel-datepicker/commit/82d3a644c6663bf668350fddd58a8e9c2788be9b

[2020-12-22 22:06] #232 closed

[2020-12-22 22:08] matiasperrone commented on #81
I am sorry but I am going to remove this feature from the v4 in order to be able to finish the final release

[2020-12-23 19:03] matiasperrone commented on #233
Solved! (beta 11)  https://github.com/krystalcampioni/vue-hotel-datepicker/releases/tag/v4.0.0-beta.11

[2020-12-23 19:03] #233 closed

[2020-12-24 07:11] matiasperrone commented on #235
I finally have some time:

New prop `disabledWeekDays`: An object with the following properties: `sunday`, `monday`, `tuesday`, `wednesday`, `thursday`, `friday`, `saturday`, the value indicates if that day is disabled (true) or enabled (false).

disabledDaysOfWeek still works but is deprecated. seems that this prop depends on fecha.format when the week name is returned, also it depends on the bro

[2020-12-24 07:11] #235 closed

[2020-12-24 07:12] matiasperrone commented on #240
I am not going to write the tests because no final version will come out. so I close this issue

[2020-12-24 07:12] #240 closed

[2020-12-24 07:17] matiasperrone commented on #252
Check the last version please... did you notice a change?

[2020-12-24 07:19] matiasperrone commented on #252
I will check this issue before release the next beta (The next is 14)

[2020-12-24 07:20] matiasperrone commented on #255
I will check this issue before release the next beta (14)

[2020-12-24 13:26] iiRobin opened #257 "Disabled dates not updating when new dates are added."
### Description

People need to select dates when a room is occupied. When these dates are added, I want to make them disabled in the picker so they don't get selected again. But the disabled dates don't seem to update once I add dates to the array.

### Code sample
Hotel Date Picker
[code]
I add dates to be disabled to the array like this:
[code]
The setDisabledDates() function is triggered by a

[2020-12-27 23:38] yashiroiori commented on #252
Hi.

Update de package using: "vue-hotel-datepicker": "^4.0.0-beta.13" but have a problem not find file "vueHotelDatepicker.css"

I check in dist folder not exists
![image](https://user-images.githubusercontent.com/17031855/103181751-4d90ca80-486a-11eb-9bba-f04769d439af.png)

[2020-12-28 16:30] matiasperrone commented on #257
Check the last v4 version

[2020-12-29 14:31] matiasperrone opened #258 "CSS "vhd__datepicker__months" class issue on Safari"
Okay.

But, `vhd__datepicker__months`'s problem still is not fixed in beta 14.
@matiasperrone Would you mind testing it on smartphones?

_Originally posted by @aaharu in https://github.com/krystalcampioni/vue-hotel-datepicker/issues/256#issuecomment-752004948_

[2020-12-29 22:13] matiasperrone commented on #258
Fixed on beta 15!

[2020-12-29 22:13] #258 closed

[2021-01-02 20:53] nathanjhastings commented on #255
I have tested and replicated the problem on beta 15.

[2021-01-06 07:07] maghffu opened #260 "How to Show date now instead start date?"
### Description

How to show date now? my date picker always show the start date. if I set start date now, date before the 'start date' will be disabled.

### Code sample
[code]

### Steps to Reproduce

1. start with code above.
2. i want to show date now
3. if i fill the start date with date now, date before will be disabled

**Expected behavior:** i want to show date now

**Actual behavior:** sh

[2021-01-06 15:15] matiasperrone commented on #260
You should use the "startingDateValue" prop for showing and "startDate" and "endDate" for availability.

Please try v4 that has a lot of improvements. v3 is frozen and not maintained any more.
Tell us if my solution worked for you!

[2021-01-06 15:15] #260 closed

[2021-01-10 19:26] matiasperrone commented on #252
Check that now! Sorry for the inconvinience

[2021-01-10 19:28] matiasperrone commented on #252
I solve the extra day, but not the first. I think this issue is related to local timezone. I am conducting some tests

[2021-01-10 22:02] yashiroiori commented on #252
Excelent good job thank very much

[2021-01-10 22:02] #252 closed

[2021-01-12 02:03] matiasperrone commented on #255
Fixed in v4.0.0-RC1

[2021-01-12 02:03] #255 closed

[2021-01-12 14:49] iiRobin commented on #257
Checked it, updated my component to V4.0.0-RC1 and all the styling of the date picker is gone... Got any idea how to fix this?

[2021-01-12 20:36] matiasperrone commented on #257
Checkout the readme file on how to use it.
You have to include the css/scss file as external file so you can change it if you need to.

[2021-01-12 22:36] iiRobin commented on #257
I've added the css file in the code and now I'm doing the exact same as before but the dates in the picker are still not being disabled when I push new data in the array. On a fresh page reload the dates are disabled but when I push them directly into the array it's not updating reactively.
Also I came across this:
![image](https://user-images.githubusercontent.com/40296679/104382717-e859fc00-552e

[2021-01-13 18:17] matiasperrone commented on #257
ok I'll reopen the case thanks for the feedback

[2021-01-14 14:35] matiasperrone commented on #257
I see the problem now, you cannot use an arrow function to update an external variable. "this" in that context it is not what you expect, please use a regular anonymous function instead. Best!

[2021-01-14 23:18] matiasperrone commented on #234
I am going to close this. `next-month-rendered` event maybe it'll be helpful.
Check the new v4.1 version.

[2021-01-14 23:18] #234 closed

[2021-01-15 10:33] iiRobin commented on #257
No, this is not true. I can see in the Vue-inspector that the newly selected dates are in the attributes array so that shouldn't be a problem. I just did what you said tho and now I'm getting another 2 errors

This errors occurs when no dates are in the `disabledDates` array yet and I click on one of the dates to select it:
![image](https://user-images.githubusercontent.com/40296679/104714205-3802

[2021-01-15 13:41] matiasperrone commented on #257
Those variables `minimumRequiredPeriod` and `halfDayCheckOut` are part of the i18n prop, the tooltip attribute.
Check the Readme file:

## i18n Defaults:

[code]

[2021-01-15 13:48] matiasperrone commented on #257
I'll try to update the doc page to enhance the experience.
But it seems an error in your programing (at least at this point, with little info).
If you may, please provide me with a complete working example, so I may reproduce the error that you are having and solve it. :D

[2021-01-15 14:37] matiasperrone commented on #257
Check this [article](https://medium.com/@znck/fiddle-with-vue-js-dfd3e2924992) in Medium regarding the use of Vue on fiddle.net
Maybe you can create an example with the problem.

[2021-01-15 14:58] matiasperrone commented on #257
Use this as starting point https://jsfiddle.net/matup/ocavkjmu/

[2021-01-15 16:03] akation opened #263 "How to enable old dates?"
**Describe the bug**
I have been using this plugin for a year, but now I have a different scope that I would like to fulfill with this plugin.

I know this plugin was created to work with hotel/reservations logic, but I want to apply a different scope in my app, so I want my users to select old dates, how can I do it? I tried doing something like this:

`:show-year="true"
                  start-d

[2021-01-15 18:09] iiRobin commented on #257
I've created a repesentation of what I'm trying to do in my application.

Check out: https://jsfiddle.net/a6f45jqn/65/

[2021-01-15 18:58] matiasperrone commented on #263
I am assuming that you are using the last v4.1 version.
The `startDate` is the first available date not the selected date. To use the selected date you have to use the `startingDateValue` and `endingDateValue`, `startDate` should be `1900-01-01` or maybe  `new Date(1990, 0, 1, 0, 0, 0, 0)`.

It was helpful?

[2021-01-15 19:21] akation commented on #263
I am using 2.7.8, the project is working properly, can I make it work with that older version?

[2021-01-15 19:24] akation commented on #263
I remember once I used the current version (months ago) but there was a bug so I had to rollback to 2.7.8.

[2021-01-15 19:47] matiasperrone commented on #257
Ok, I'll check that out and get back to you.

[2021-01-15 19:52] matiasperrone commented on #263
You should check the new version. But also check the documentation.

[2021-01-15 19:52] #263 closed

[2021-01-15 19:53] matiasperrone commented on #263
I am not familiarized with that version. maybe @krystalcampioni may help you.

[2021-01-15 19:54] matiasperrone commented on #263
Note that the CSS is in a different file and all the bugs has been fixed.

[2021-01-18 14:32] matiasperrone commented on #213
v4.1 is now live!
Soon v5.... I don't know when...

[2021-01-21 08:34] maaqib121 opened #264 "Price styling"
**Description**
When we add prices to the component, the price of a date is shown on the top of dates beneath that, instead of showing in that date's box. Also, the disabled dates are not working properly. On the first attempt, all the disabled dates are available to select instead of not allowing us to select them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sandbox link
2. Check

[2021-01-21 19:41] Federicom7 opened #265 "startingDateValue and endingDateValue error"
When you use the startingDateValue prop, and reload the page a javascript error is reported:
"TypeError: Right-hand side of 'instanceof' is not an object"

[2021-01-22 18:09] matiasperrone commented on #265
Can you provide us with an working example of the error?

[2021-02-03 14:19] bzd2000 commented on #213
Hi,
Does 4.1 it include vue 3 support?

thx,
Filip.

[2021-02-03 20:21] matiasperrone commented on #257
@iiRobin can you try with the last committed code instead of the released code?
I think you will find the solution made in the PR #266 integrated. I need that someone test the solution 😄.

🙏 please let me know if you can.

[2021-02-03 20:26] matiasperrone commented on #264
The problem with disabledDates is a known issue.
I will look the problem with the position of the price as soon as I can, but it may take one or two weeks.

An update in the main branch was made in order to be able to change dynamically such prop. See #257.

Is this something that can be solved using CSS?

[2021-02-04 11:16] iiRobin commented on #257
I got the code from the commit working on my project since I can see the new code in the `node_modules` folder. But it still doesn't seem to work for me.

[2021-02-04 16:28] matiasperrone commented on #257
No, no, if it is in the node_modules it is from a released version and this is in dev (main) version.

[2021-02-04 16:31] matiasperrone commented on #257
If it is in the node_modules it is from a released version and this is in dev (main) version so is not in npm package yet.
You must clone or download the code from here and then try it in a different environment (with npm run serve) and modifying the App.vue file probably.

[2021-02-08 11:44] iiRobin commented on #257
I downloaded the code and made a custom tab in your sandbox area with my code in it. The solution in the PR seems to be working!

[2021-02-08 14:35] matiasperrone commented on #257
@iiRobin this is now is resolved in v4.2, this new version has this fix and a [CHANGELOG.md](https://github.com/krystalcampioni/vue-hotel-datepicker/CHANGELOG.md) file

[2021-02-08 14:35] #257 closed

[2021-02-08 14:36] matiasperrone commented on #264
In v4.2 is now fixed the disabledDates issue.
I will look into this in the following weeks.

[2021-02-08 14:41] maaqib121 commented on #264
Sure, thanks. I will check it out the v4.2

[2021-02-10 14:41] nathanjhastings commented on #264
We wanted the price at the bottom of the square too so we added the below css.

`.vhd__datepicker__wrapper .vhd__datepicker__month-day-wrapper strong {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}`

[2021-02-10 15:28] matiasperrone commented on #264
@nathanjhastings Check the live coding! https://codesandbox.io/live/94w9xvl

[2021-02-10 16:02] nathanjhastings commented on #264
@matiasperrone added that code in that example

[2021-02-11 01:32] matiasperrone commented on #264
Hi! Now I am working on solving this issue... it seems a little more complicated than appears to be

[2021-02-12 15:52] #265 closed

[2021-02-12 15:52] matiasperrone commented on #265
I closed due to inactivity

[2021-02-12 16:38] #264 closed

[2021-02-12 18:33] matiasperrone commented on #236
@superbiche What about this?

[2021-02-12 18:35] matiasperrone commented on #99
@amulchinock Did you have the chance to look at the new 4.x version?

[2021-02-17 10:12] bzd2000 commented on #213
@matiasperrone , an idea when vue 3 will be supported?
It is not to put pressure, but just to have an idea if it will be in coming days, weeks or months.

[2021-02-17 13:44] matiasperrone commented on #213
Still don't know, in the next few days I am going to start checking the changes needed, but there are many improvements to be made to the code. I will focus on this from now on. Think more in one month or more, the other collaborators are occupied.

[2021-02-17 14:02] bzd2000 commented on #213
@matiasperrone , I'm available if you need help

[2021-02-17 15:42] matiasperrone commented on #213
Sure! I just created the v5 branch so we may start working on the code.
There are several not very good practices (not my fault) within... I would say that we should fix that before start.
Also we should separate the javascript with different responsabilities: Month, Day, DatePicker, to make the maintance easier.

[2021-02-18 08:02] bzd2000 commented on #213
@matiasperrone ,

When I run the unit tests it fails:

[code]

Is there a build procedure I should follow?

Thx,
Filip.

[2021-02-24 14:54] cosmicstays opened #268 "New feature: Check disabled dates on the range"
**Describe the bug**
I have passed certain values to datepicker as disabled dates and it is showing the same as blocked dates. I Have set min nights to 5. When I click on a date just before the blocked date, and select the range the datepicker is still allowing to select a range with the blocked dates.

**To Reproduce**
Steps to reproduce the behavior:
1. Add blocked dates [2021-03-02, 2021-03-03]

[2021-03-04 08:20] whitewaterdesign opened #269 "Mobile view Error in render: "TypeError: _vm.day is undefined""
**Describe the bug**
version 4.3.0 When you reduce the viewport width to < 768px, the datepicker doesn't open on clicking Check in / Check out and throws the following errors:

Error in render: "TypeError: _vm.day is undefined"
TypeError: _this.$refs.datepickerMonth[0] is undefined

Same issue in the sandbox from GitHub.

App.vue as follows:

[code]

Stacktrace below.

**To Reproduce**
Steps to re

[2021-03-04 10:02] whitewaterdesign commented on #269
Issue is here:

src/Datepicker/HotelDatePicker.vue

  169            :belongsToThisMonth="day.belongsToThisMonth"
  175            :date="day.date"

[2021-03-04 12:14] matiasperrone commented on #269
Ok, interesting... so day gets undefined in mobile.
Yeah the repetition in HTML markup is not my personal favorite but it works for now, not my doing but I'll try to correct this issue probably today or in the next few days.

[2021-03-04 12:16] matiasperrone commented on #269
Removing those lines will compromise some features so... I have to fix it properly.
Do you have any more info or this will reproduce the error?

[2021-03-04 12:27] whitewaterdesign commented on #269
Ok, no worries, having the same issue in the sandbox environment.

There's a switch:
`v-if="isDesktop || alwaysVisible" `- this <Month/> component is fine.  Next v-if block at line 148:
[code]
activates the mobile `<Month /> `component which has a ` :belongsToThisMonth="day.belongsToThisMonth"` and a `:date="day.date"` prop.

[2021-03-04 14:43] jmaric opened #271 "One table display"
it would be good if you could display only one table(one month), instead of 2

also it would be nice if it could open to the left and right side... now it's opening just on the right, and it breaks pages grid...

[2021-03-04 21:21] matiasperrone commented on #271
That It is possible since version 3. We are working on the open up or down feature

[2021-03-04 21:21] #271 closed

[2021-03-04 21:23] matiasperrone commented on #271
Sorry about the demo page, it is not updated... actually it is using the v2

[2021-03-04 21:38] jmaric commented on #271
Oh great, where can i see new features?

[2021-03-05 14:24] matiasperrone commented on #271
Right now? downloading the source and running "npm i" and then "npm run serve"

[2021-03-08 11:05] maaqib121 opened #272 "Different Check-in/Check-out Days in different periods"
**Is your feature request related to a problem? Please describe.**
In the documentation of some previous version, I saw there was an option of setting specific week days e.g. Monday, Tuesday etc. as check-in and check-out days. It worked fine, if you have same check-in and check-out days for the whole period. But what, if we want to set different check-in and check-out days in different periods as

[2021-03-08 16:27] matiasperrone commented on #271
`showSingleMonth` true solves the request.

[2021-03-10 05:27] maaqib121 commented on #272
Updated the question with a bit more clarity in examples and their expected behaviors.

[2021-03-11 15:04] matiasperrone commented on #272
Ok I will check it out soon

[2021-03-15 08:21] remcoz commented on #272
Yes we also looking for the same UX behavior.  In the private holiday rental is this very common. Wil be great if this new enhancement wil be added!

[2021-03-15 12:20] matiasperrone commented on #272
Well this is an interesting behavior, it seem rather specific.
Did you tried to control it using events?

The docs in this URL: https://krystalcampioni.github.io/vue-hotel-datepicker/ are in v2... and v4 has the same features as v2 and v3 and I am not seeing the way of doing this.

The only way that I see of handling this exact behavior is doing it in a event or in a computed property that changes

[2021-03-18 09:56] nathanjhastings opened #274 "Price format"
There was recently a change to the price format to use a number rather than a string. This works fine but it's causing an issue for us on mobile to fit the cost of stay in the space we have e.g. £423.00. This was not an issue before as we passed the string £435 as there is no need to pass the zero pence.

Would it be possible for us to implement the option of passing the price in a string format?

[2021-03-18 14:01] matiasperrone commented on #274
Price is in effect a String. Check the `src/DatePicker/components/Price.vue` component, but it is formated that way. Please PR with incorporation of a priceDecimals and the doc and I will implement that.

Line 187 of `Day.vue`

[2021-03-22 13:24] matiasperrone commented on #274
Well already finished this... I am testing now

[2021-03-24 09:39] apostolisCode commented on #269
Hi,

Can someone provide a quick fix until this is fixed properly?

Thanks

[2021-03-25 09:29] nathanjhastings commented on #274
Great! What branch is this in?

[2021-03-25 15:33] matiasperrone commented on #274
v4.4 but I will try to release a beta version in the next hours

[2021-03-29 14:00] Merton opened #276 "'booking-clicked' event not fired if booking duration is one night"
**Describe the bug**
If you have a booking which lasts over 2 days, and 1 night. Ie, start date:  `2021-04-15` and end date `2021-04-16`, the booking-clicked event is not fired.

**To Reproduce**
Steps to reproduce the behavior:
1. Create bookings consisting of at least 1 booking which lasts 1 night: ` [{ checkInDate: '2021-04-15', checkOutDate: '2021-04-16', style: xxx}]`
2. Try to click either t

[2021-04-08 06:21] maaqib121 opened #277 "No event when previous months rendered."
**Is your feature request related to a problem? Please describe.**

**Scenario**
Suppose we are month-wise populating prices in the calendar using API. Let's say, the initial selected date is May 08, 2021, so initially prices for the whole May month will be loaded in the calendar. When we click on 'Next Arrow', there is an event 'next-month-rendered' which gets triggered for every 'untraversed' mo

[2021-04-09 13:14] matiasperrone commented on #277
Those (previous) months were already visited?

[2021-04-09 16:32] maaqib121 commented on #277
No, they ain't visited, and even we visits them, there is no event which we can trigger for them.

[2021-04-14 12:50] matiasperrone commented on #268
This is not a bug exactly, is a control of the blocked days, blocked days can be a number of uses, for instance when you don't want that anyone book on those days, for instance not checkins or checkouts on certain days, but they could be part of a booking.

Probably you should use bookings instead.

[2021-04-16 12:51] cosmicstays commented on #268
I tried using it with bookings prop but it still behaves the same way. Ideally when selecting checkin date the datepicker should disable all the dates that are not possible to be considered checkout date based on restrictions like min nights and available dates.

[2021-04-16 23:35] matiasperrone commented on #274
Sorry I've been extremely busy.

[2021-04-25 13:50] amr-coding opened #281 "Close icon does not load"
**Describe the bug**
A clear and concise description of what the bug is.
After installing the package and importing it, everything seems to work but the icons is not working.

I checked the computed styles on my browser I found the background styles that contains the svg icons path, I hovered over the path of the svg icon and it shows "Could not load the image".

The path looks like this: http://l

[2021-04-26 13:53] matiasperrone commented on #281
Whet version are you using??

[2021-04-28 11:40] remcoz commented on #277
is this bug going to be fixed in new release?  For us its important also...thanks

[2021-04-28 11:41] maaqib121 commented on #277
This feature is kind of urgent for me as well. I will be highly grateful, if any collaborator can give me an idea of how much time can it take to be implemented.

[2021-04-28 16:25] matiasperrone commented on #277
If you please provide me with an PR, I will update the version with you solution!

[2021-05-01 10:02] erenergul commented on #281
Same for me as well. I installed today latest version v4.3
fonts/vendor/vue-hotel-datepicker/dist/img/ic-arrow-right-green.regular.83ed3b6c.svg?83ed3b6cd733b2b6d8fcf86389fbbbc9 404 (Not Found)
This is my console error.

[2021-05-01 11:06] erenergul opened #283 "Not Sure whats the error."
I want singlemonth and disable dates object.

[code]

So I disable Monday but it disable Tuesday instead. I dont understand why. and its break like a screenshot.

![Screenshot from 2021-05-01 13-53-07](https://user-images.githubusercontent.com/23069775/116780422-62ce6d80-aa85-11eb-8e77-18c9f3286879.png)

[2021-05-03 13:16] matiasperrone commented on #281
Please try the last version (v4.4)

[2021-05-03 14:16] erenergul commented on #281
Im sorry but it looks last version v4.3 - I couldn't see v4.4.

[2021-05-04 11:40] matiasperrone commented on #281
Version v4.4 is now available!

[2021-05-06 17:26] qayumhasan commented on #281
not working. i install "vue-hotel-datepicker": "^4.4.0", but Icons can't be loaded

[2021-05-06 17:44] qayumhasan commented on #281
may be icons path can not found if project load from subfolder

[2021-05-07 14:27] matiasperrone commented on #281
Thanks guys for testing... anyone of you can fix it? I can publish a new version but I am a little swamp right now in my paid work. I promise to fix it soon... probably during the weekend.

[2021-05-07 15:08] amr-coding commented on #281
Thanks for your efforts,
As I'm using Laravel the assets is required to be in the folder Public, so I moved the package assets to the Public folder and by doing that it worked just fine.

Usually when I install any package in any of my projects, I don't move any of the assets from the packages folders to the Public folder, so it's just in this case I encounter this problem and the only solution I

[2021-05-24 13:18] jmaric opened #288 "Suggestion: disable Date Picking"
I couldnt find this feature, but it would be helpful.
Can you disable date Picking? I just want calendar as display for booked dates and prices, but without possibility of picking dates.

[2021-06-22 17:56] #283 closed

[2021-06-24 12:58] develth commented on #281
Hi,

seems like the mentioned icons work.
But i recognized, that the lcose icon is missing (404). Regardless of the svg in Project doesn´t shows anything

[2021-06-25 15:24] develth commented on #269
Issue still exists in 4.4.
Not useable in mobile

[2021-06-25 20:01] #269 closed

[2021-06-29 09:03] develth commented on #269
Thanks! Any plans to get the new Version to npm?

[2021-07-12 19:25] matiasperrone commented on #274
sorry not ready yet

[2021-07-12 19:27] matiasperrone commented on #277
@maaqib121 what about that PR?

[2021-07-12 19:28] matiasperrone commented on #276
Did you checked on the last version?

[2021-07-12 19:29] matiasperrone commented on #281
They are not been packed by webpack... do you how to fix this? please PR if you can.

[2021-07-14 19:53] saniales commented on #269
I still have the issue on v4.4.0

[2021-07-14 20:08] develth commented on #269
4.4.0 is the unfixed Version. The fix is in this Repos Tag 4.3.1 which is not released to npm

[2021-07-14 22:56] saniales commented on #269
why there is a version mismatch? You may also want to fix this

[2021-07-16 14:36] matiasperrone commented on #281
A new version was pushed v4.4.2 please try again and let me know

[2021-07-16 14:36] matiasperrone commented on #274
v4.4.2 should fix this issue with the new props

[2021-07-16 14:36] #274 closed

[2021-07-18 05:26] newbie2005 commented on #213
I use  "vue": "^3.0.0",   "vue-hotel-datepicker": "^4.4.2"

and still found error
runtime-core.esm-bundler.js?5c40:218 Uncaught TypeError: Cannot read property '_c' of undefined
    at Proxy.render (vueHotelDatepicker.common.js?ffea:1473)
    at renderComponentRoot (runtime-core.esm-bundler.js?5c40:1168)
    at componentEffect (runtime-core.esm-bundler.js?5c40:5214)
    at reactiveEffect (reactivi

[2021-07-19 10:45] newbie2005 opened #295 "found only show close symptom "x", but can't show image"
Can't show image as below
![image](https://user-images.githubusercontent.com/9400951/126148346-228116c8-b726-4364-ab3a-a349533681df.png)

[2021-07-19 11:52] develth commented on #295
Issue with resolve. I also have:

[2021-07-21 00:05] matiasperrone commented on #213
We don't support Vue3 at the moment...

[2021-07-21 00:07] matiasperrone commented on #213
I'll be actively working on this in two months, it probably will take 2 weeks or maybe more. We are commited to this package so rest assure that this year will be resolved

[2021-07-21 13:07] matiasperrone commented on #272
I wasn't able to develop this feature yet.
A PR is welcome if @maaqib121 or @remcoz want to send it to us.

[2021-07-21 13:08] matiasperrone commented on #295
@develth Version that you are using? some other info?

[2021-07-21 13:09] develth commented on #295
@matiasperrone the current 4.4.2.
But it also wasn´t found in the Version before

[2021-07-26 11:03] seking01 commented on #281
this is still not fixed in v4.4.2. Close X is still missing

[2021-07-26 11:03] insek commented on #295
I'm having same issue with 4.4.2
close.ac44076c.svg 404 (Not Found)

However I'm using this with Nuxt.

[2021-07-26 11:05] develth commented on #295
Using nuxt, too.
Seems like `@asset`does not update / trigger. It´s the only file that is included with this.
Maybe fix it with an optimized inline svg (e.g. with https://jakearchibald.github.io/svgomg/ )?

[2021-07-26 21:32] matiasperrone commented on #281
Can you PR us with the fix? or some way of testing this... because I don't have much to fix it

[2021-07-27 13:20] matiasperrone commented on #295
This is a duplicate of #281 please refer to that issue

[2021-07-27 13:20] #295 closed

[2021-07-27 14:31] matiasperrone commented on #295
@develth and/or @insek, if you want you can PR the solution. I don't have the time right now to fix it. Any comments please refer to comment on #281

[2021-07-27 14:32] matiasperrone commented on #281
@develth and/or @insek, if you want you can PR the solution. I don't have the time right now to fix it.

[2021-08-02 18:17] austinziza commented on #281
any solution yet for this error, it is displaying an x button but cant load the image

[2021-08-02 18:21] matiasperrone commented on #281
Not yet, A Pull Request is welcome!

[2021-08-02 18:24] austinziza commented on #281
i noticed the close.ac44076c.svg in the dist folder is corrupt, do you have a copy of the close.svg

[2021-08-05 09:17] Saganic opened #296 "Max nights don't work"
**Describe the bug**
Max nights prop doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project.
2. Import the package and set up max-nights prop.
3. Click check in date, notice dates beyond 5 days aren't disabled.
4. To get it to work, click the Check in date, then click forward in the month pagination, then click back.
5. Notice that dates are now disabled.

**Expec

[2021-08-06 15:56] matiasperrone commented on #296
Hi @Saganic thanks for the report, what version are you using?

[2021-08-09 14:25] #281 closed

[2021-09-02 09:52] maaqib121 commented on #277
@matiasperrone  sorry for responding very late. I had been extremely busy lately, but now-a-days got some time to add this feature along with a couple of fixes. Will try to provide you with a PR very soon with my solution.

[2021-09-02 22:20] matiasperrone commented on #277
Thanks! I am busy too... that's why I didn't have the time.

[2021-09-08 19:32] whitewaterdesign commented on #296
https://github.com/whitewaterdesign/vue-hotel-datepicker/commit/eb1a1cf2e033d09a77871204a1ae793c82e910a4 fixes this

[2021-09-08 19:33] whitewaterdesign commented on #296
issue is in v4.4.3

[2021-09-09 15:37] #296 closed

[2021-09-09 21:01] matiasperrone commented on #277
done on v4.5

[2021-09-09 21:01] #277 closed

[2021-09-18 07:23] bzd2000 commented on #213
Any news?

[2021-09-20 14:18] matiasperrone commented on #213
Hi, sorry not yet. I may be working on this feature along with the rewrite by the end of 2021, I least is what I hope for.
@superbiche you?

[2021-10-12 16:12] ShapesGraphicStudio opened #301 "Half day documentation"
Hello,
Could you please put out some documentaion on the half day use?
I can read : "Allows to have half a day, if you have check in at noon and checkout before noon" but I can't see how to implement this.

I'm having some issues with disabled dates.

EXAMPLE:
I have bookings:
**from the 15th to the 16th of the month
from the 17th to the 21st of the month
from the 23rd to the 24th of the month
fro

[2021-10-14 10:30] besart-rr opened #302 "Date Format on Mobile View"
**Describe the bug**
Date Format is not working as expected on mobile view, as I passed the prop with the `format` I want, we can see that format on inputs, but not after a drawer is opened, the dates on top of the drawer still are in the default format

**To Reproduce**
Steps to reproduce the behavior:
1. Set the format you want for inputs
2. Click on the inputs to open the date picker for mobile

[2021-12-28 15:10] #302 closed

[2021-12-28 15:17] matiasperrone commented on #213
Hi guys and gals! (and others! why not?)
I am going to move this project to a different namespace for the v3... more new I hope soon...

My current day job and some topics in my personal life didn't allow me to pursue the Vue 3 development and the team is a little bit offline now... so I hope to push it to 2022 with some hardwork.

I'll be searching for devs to push this to the next level, so I'll

[2022-01-07 10:49] LucaGiardi20 commented on #268
Hi @matiasperrone , i also need the same behaviour described by @cosmicstays, there's a way to implement it through props or with some javascript?

I've tried with blockedDays and bookings but it still behaves the same way.

Thanks

[2022-01-07 15:28] matiasperrone commented on #268
hi

[2022-01-07 15:32] matiasperrone commented on #301
Hi @ShapesGraphicStudio did you fixed your issue some how?
Do you want to share?

[2022-01-19 09:44] ahmedshaheen201400721 commented on #213
any news

[2022-01-19 16:51] matiasperrone commented on #213
No news on this. Do you want to help me building the Vue3 version in a new repo?

[2022-01-19 16:52] matiasperrone commented on #213
I didn't have the time... too much work on my daily paid work.

[2022-01-25 17:00] filippodicostanzo opened #304 "Disable the touch event for changing months"
**Describe the bug**
In mobile layout, when datepicker is open, if i move down or up, with touch event, months changed.
This can create a bug with small displays if you can't see the full month.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Datepicker input
2. Touch event up and down
3. Changed month
4. This can create a bug with small displays if you can't see the full month.

**Exp

[2022-02-02 17:36] arjanc opened #305 "Custom styling"
**Is your feature request related to a problem? Please describe.**
I wanted to overwrite the default color styles with my own colors.

**Describe the solution you'd like**
Separate index.scss file into chunks for better override of variables.
like for example `_basestyles.css`, `_settings.scss`.
Where `_settings.scss` will import the `_mixins.scss` and `_variables.scsss`.
See this sandbox as an ex

[2022-03-15 17:54] shinesoftware opened #307 "Scroll gesture shifts months"
Hello, first of all thanks for your vue component.
When I try to scroll down the page in my mobile I can see the months changes. Why this happens? How to disable this feature?

![Peek 15-03-2022 18-53](https://user-images.githubusercontent.com/1553035/158441149-faa43ee3-d0bb-4a84-b898-ec45048a38c1.gif)

[2022-03-29 10:21] cocomode18 opened #308 "Suggestion: Show week names on mobile/tablet"
The week names for mobile/tablet devices are hidden by css class `vhd__hide-up-to-tablet`.
https://github.com/ZestfulNation/vue-hotel-datepicker/blob/main/src/DatePicker/components/WeekRow.vue#L2

Is there a reason to hide them?
I'd prefer them to be visible on both pc and mobile/tablet devices, or at least make them selectable by props.

[2022-03-30 09:49] softopia-tech commented on #308
I have the same question, also when we select first date in mobile it's not getting highlighted

[2022-04-01 21:38] matiasperrone commented on #308
Hi... sorry... I didn't have the time to dedicate to the project.
Is this more like a enhancement, right?

[2022-04-01 21:39] matiasperrone commented on #304
Do you have a PR for this fix? I will push it right away... but I do not have yet the time to follow this project.

[2022-04-01 21:41] matiasperrone commented on #305
Hi @arjanc, please submit a PR to make my life easier... if not it might take me some time to make the changes, I've been away from VueJS this past few months.

[2022-04-01 21:45] matiasperrone commented on #307
I am not sure, since I was not the one developing this "feature" (or is it a bug?)
Is it possible that you may change horizontally unintentionally?...

Can you search the code responsible for this behavior?

[2022-04-01 21:47] matiasperrone commented on #213
still in the same situation. Sorry

[2022-04-04 06:14] softopia-tech commented on #308
Yes, we can count it in enhancement, but the highlight first date on select in mobile is working fine on demo page but not working with the latest release of the package.

[2022-04-28 01:16] #272 closed

[2022-07-07 08:25] al-burger opened #311 "Smooth scroll on mobile"
I'm looking for a way to have a smooth vertical scrolling for the month's list on mobile display. (Like https://www.airbnb.fr/ for exemple)

Did anyone managed to make it work with a workaround or something ?

[2022-07-19 12:54] micskubence opened #312 "disabledDaysOfWeek / disabledWeekDays page freeze when clicking the first date"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-21 06:21] adnanashraf1 commented on #213
Any news on this???

[2022-08-01 08:59] micskubence opened #313 "disabledDaysOfweek doesn't work"
when i dont set disableddaysofweek everything works fine but as soon as i set it my whole app freezes

<template>
	<div>
		<HotelDatePicker
  :disabledDaysOfWeek="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sunday']"
  :enableCheckout="true"
  :allowedRanges="[7,10,14]"

	</div>
</template>

<script>
import HotelDatePicker from 'vue-hotel-datepicker'
import 'vue-hotel-datepicker/dist

[2022-08-01 09:00] micskubence commented on #313
<template>
	<div>
		<HotelDatePicker
  :disabledDaysOfWeek="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sunday']"
  :enableCheckout="true"
  :allowedRanges="[7,10,14]"

	</div>
</template>

<script>
import HotelDatePicker from 'vue-hotel-datepicker'
import 'vue-hotel-datepicker/dist/vueHotelDatepicker.css';

export default {
  components: {
    HotelDatePicker,
  },
}
</script>

[2022-08-03 23:49] matiasperrone commented on #313
Hi!! sorry about that, I am a little away from this project due to my current work.

Can you provide with a little more of code?

[2022-08-03 23:52] matiasperrone commented on #213
Hi... I think I am going to open a donations box... because I can't work on this right now...

I have bills to pay... BUT I think I'll start some time this year.

But probably I move this repo to global-innovation organization.

[2022-08-03 23:55] matiasperrone commented on #213
I am the only one maintaining this...
I am pretty swamped... sorry guys

I used to use time from my former work to work on this. I believe that a lot of the work needs to be redone.

I am going to seek for another package that is in the same as this, and maybe we can accomplish something.

[2022-08-03 23:58] matiasperrone commented on #313
This issue is related with #312

[2022-08-03 23:58] #313 closed

[2022-08-03 23:58] matiasperrone commented on #312
so? any code to reproduce?

[2022-08-04 00:01] matiasperrone commented on #312
This seems bogus... so I am going to close it please reopen with more info

[2022-08-04 00:01] #312 closed

[2022-08-04 00:03] matiasperrone commented on #311
I this a question?
Please provide a PR or explain a little more

[2022-08-04 00:03] #311 closed

[2022-08-04 00:04] matiasperrone commented on #304
@filippodicostanzo do you fixed this?
Do you have an update?

[2022-08-04 00:06] matiasperrone commented on #305
@arjanc I think the last version does what you requested.

[2022-08-04 00:06] #305 closed

[2022-08-04 22:42] cornelRaiu commented on #213
I can probably have a go at this.

There's a project I am working on where we started using this package on Vue2 and then, when we upgraded to Vue3, I had to make this code Vue3 compatible.

I will have some time in the next couple of weeks.

[2022-08-10 15:37] matiasperrone opened #314 "Help Welcome / Ayuda Bienvenida"
English:
Leave here a word.

Español:
Dejenme su comentario y nos ponemos en contacto

[2022-08-10 15:43] Sebastianlenza2021 commented on #314
Hola buenos dias, vi tu publicacion en linkedin y estoy interesado en poder practicar en proyectos y ganar experiencia. Hago full stack e hice ciencia de datos. Todavia no tuve experiencia laboral de programacion pero estoy muy interesado. Cualquier cosa estoy atento a tu mensaje. Gracias

[2022-08-10 18:31] matiasperrone commented on #314
Dale y q sabés?

[2022-08-30 08:48] kasperlegarth commented on #81
@matiasperrone I have taken the liberty to take this task on me. As I could see it was hard (understandable) for you to find the time for this task.
I hope my code is clear and obvious, or let me know so I can make the needed adjustments.

For any fellow Scandinavians, it is us that need this functionality the most, the implementation of the week numbers is pretty well tested. I first implemented

[2022-09-05 16:10] matiasperrone commented on #81
I am cheking out PR #317 to solve this enhancement.

[2022-10-03 11:37] daherlive opened #318 "Daterange working as a modal"
I need to make it so that when I call the action to open the calendar, it can be like a modal, open to the center. How could it be possible?

[2022-10-05 15:49] matiasperrone commented on #318
I think this go outside the scope of this component, and this can be easily achieved by render the calendar inline inside a modal (a div with the proper z-index value) and capture the changes yourself by using the events.

Because a modal depends highly on your design.

Besides, the team is trying to allocate time to move to Vue 3.

Do you agree?